<?xml version="1.0" encoding="UTF-8"?>
<plugin id="Gnumeric_fnlogical">
	<information>
		<name>Logic Functions</name>
		<name xml:lang="ast">Funciones llóxiques</name>
		<name xml:lang="bg">Логически функции</name>
		<name xml:lang="ca">Funcions lògiques</name>
		<name xml:lang="ca@valencia">Funcions lògiques</name>
		<name xml:lang="cs">Logické funkce</name>
		<name xml:lang="da">Logiske funktioner</name>
		<name xml:lang="de">Logische Funktionen</name>
		<name xml:lang="dz">གཏན་ཚིག་གི་ལས་འགན་ཚུ་</name>
		<name xml:lang="el">Λογικές συναρτήσεις</name>
		<name xml:lang="en_CA">Logic Functions</name>
		<name xml:lang="en_GB">Logic Functions</name>
		<name xml:lang="eo">Logikaj funkcioj</name>
		<name xml:lang="es">Funciones lógicas</name>
		<name xml:lang="et">Loogilised funktsioonid</name>
		<name xml:lang="eu">Funtzio logikoak</name>
		<name xml:lang="fi">Logiikkafunktiot</name>
		<name xml:lang="fr">Fonctions logiques</name>
		<name xml:lang="gl">Funcións lóxicas</name>
		<name xml:lang="hr">Logičke funkcije</name>
		<name xml:lang="hu">Logikai függvények</name>
		<name xml:lang="id">Fungsi-fungsi Logika</name>
		<name xml:lang="it">Funzioni logiche</name>
		<name xml:lang="ja">論理関数</name>
		<name xml:lang="ko">논리 함수</name>
		<name xml:lang="lt">Loginės funkcijos</name>
		<name xml:lang="lv">Loģikas funkcijas</name>
		<name xml:lang="mk">Логички функции</name>
		<name xml:lang="ms">Fungsi Logik</name>
		<name xml:lang="nb">Logiske funksjoner</name>
		<name xml:lang="ne">लोजिक प्रकार्य</name>
		<name xml:lang="nl">Logische functies</name>
		<name xml:lang="nn">Logiske funksjonar</name>
		<name xml:lang="pl">Funkcje logiczne</name>
		<name xml:lang="pt">Funções Lógicas</name>
		<name xml:lang="pt_BR">Funções lógicas</name>
		<name xml:lang="ru">Логические функции</name>
		<name xml:lang="sk">Logické funkcie</name>
		<name xml:lang="sl">Logične funkcije</name>
		<name xml:lang="sr">Логичке функције</name>
		<name xml:lang="sr@latin">Logičke funkcije</name>
		<name xml:lang="sv">Logikfunktioner</name>
		<name xml:lang="vi">Hàm hợp lý</name>
		<name xml:lang="zh_CN">函数函数</name>
		<name xml:lang="zh_HK">邏輯函數</name>
		<name xml:lang="zh_TW">邏輯函式</name>
		<description>Functions for manipulating truth values</description>
		<description xml:lang="ast">Funciones pa manipular valores de verdá</description>
		<description xml:lang="bg">Функции за обработка на стойности на истина</description>
		<description xml:lang="ca">Funcions per a manipular valors certs</description>
		<description xml:lang="ca@valencia">Funcions per a manipular valors certs</description>
		<description xml:lang="cs">Funkce pro práci s pravdivostními hodnotami</description>
		<description xml:lang="da">Funktioner til manipulation of sandhedsværdier</description>
		<description xml:lang="de">Funktionen zur Manipulation von Wahrheitswerten</description>
		<description xml:lang="dz">བདེན་པའི་གནས་གོང་ཚུ་ལག་ལེན་འཐབ་ནིའི་དོན་ལུ་ལས་འགན་ཚུ་</description>
		<description xml:lang="el">Συναρτήσεις για διαχείριση αληθών τιμών</description>
		<description xml:lang="en_CA">Functions for manipulating truth values</description>
		<description xml:lang="en_GB">Functions for manipulating truth values</description>
		<description xml:lang="es">Funciones para manipular valores de verdad</description>
		<description xml:lang="et">Funktsioonid tõeväärtustega opereerimiseks</description>
		<description xml:lang="eu">Egiazko balioak manipulatzeko funtzioak</description>
		<description xml:lang="fi">Funktiot totuusarvojen käsittelyyn</description>
		<description xml:lang="fr">Fonctions sur les valeurs booléennes</description>
		<description xml:lang="gl">Funcións para manipular valores de verdade</description>
		<description xml:lang="hr">Funkcije za obradu istinitosnih vrijednosti</description>
		<description xml:lang="hu">Igazságértékek kezelésére szolgáló függvények</description>
		<description xml:lang="id">Fungsi-fungsi untuk memanipulasi nilai-nilai benar</description>
		<description xml:lang="it">Funzioni per manipolare valori di verità</description>
		<description xml:lang="ja">論理値を扱うための関数</description>
		<description xml:lang="lt">Funkcijos loginių reikšmių manipuliavimui</description>
		<description xml:lang="lv">Funkcijas patiesumvērtību manipulēšanai</description>
		<description xml:lang="mr">खरे मूल्य बदलण्यासाठी प्रक्रिया</description>
		<description xml:lang="ms">Fungsi untuk memanipulasi nilai kebenaran</description>
		<description xml:lang="nb">Funksjoner for manipulering av sannhetsverdier</description>
		<description xml:lang="ne">सत्य मानहरू म्यानिपुलेट गर्ने प्रकार्य</description>
		<description xml:lang="nl">Functies voor het manipuleren van waarheids-waarden</description>
		<description xml:lang="pl">Funkcje do manipulacji wartościami prawdy</description>
		<description xml:lang="pt">Funções para manipular valores verdadeiros</description>
		<description xml:lang="pt_BR">Funções para manipulação de valores verdade</description>
		<description xml:lang="ru">Функции для работы с логическими значениями</description>
		<description xml:lang="sk">Funkcie pre prácu s pravdivostnými hodnotami</description>
		<description xml:lang="sl">Funkcije za upravljanje z logičnimi vrednostmi</description>
		<description xml:lang="sr">Функције за обраду истинитосних вредности</description>
		<description xml:lang="sr@latin">Funkcije za obradu istinitosnih vrednosti</description>
		<description xml:lang="sv">Funktioner för manipulation av sanningsvärden</description>
		<description xml:lang="tr">Değerlerin doğruluğunu karşılaştıran işlevler</description>
		<description xml:lang="vi">Hàm xử lý giá trị sự thật</description>
		<description xml:lang="zh_CN">处理逻辑值的函数</description>
	</information>
	<loader type="Gnumeric_Builtin:module">
		<attribute value="plugin" name="module_file"/>
	</loader>
	<services>
		<service type="function_group" id="logical">
			<category>Logic</category>
			<category xml:lang="ast">Llóxica</category>
			<category xml:lang="bg">Логически</category>
			<category xml:lang="ca">Lògiques</category>
			<category xml:lang="ca@valencia">Lògiques</category>
			<category xml:lang="cs">Logické</category>
			<category xml:lang="da">Logik</category>
			<category xml:lang="de">Logisch</category>
			<category xml:lang="dz">གཏན་ཚིག་</category>
			<category xml:lang="el">Λογική</category>
			<category xml:lang="en_CA">Logic</category>
			<category xml:lang="en_GB">Logic</category>
			<category xml:lang="eo">Logiko</category>
			<category xml:lang="es">Lógica</category>
			<category xml:lang="et">Loogika</category>
			<category xml:lang="eu">Logika</category>
			<category xml:lang="fi">Logiikka</category>
			<category xml:lang="fr">Logique</category>
			<category xml:lang="gl">Lóxica</category>
			<category xml:lang="hr">Logički</category>
			<category xml:lang="hu">Logikai</category>
			<category xml:lang="id">Logika</category>
			<category xml:lang="it">Logiche</category>
			<category xml:lang="ja">論理</category>
			<category xml:lang="ko">논리</category>
			<category xml:lang="lt">Logika</category>
			<category xml:lang="lv">Loģika</category>
			<category xml:lang="mk">Логика</category>
			<category xml:lang="ms">Logik</category>
			<category xml:lang="nb">Logisk</category>
			<category xml:lang="ne">लोजिक</category>
			<category xml:lang="nl">Logica</category>
			<category xml:lang="nn">Logikk</category>
			<category xml:lang="pl">Logiczne</category>
			<category xml:lang="pt">Lógico</category>
			<category xml:lang="pt_BR">Lógica</category>
			<category xml:lang="ru">Логические</category>
			<category xml:lang="sk">Logické</category>
			<category xml:lang="sl">Logika</category>
			<category xml:lang="sr">Логичке</category>
			<category xml:lang="sr@latin">Logičke</category>
			<category xml:lang="sv">Logik</category>
			<category xml:lang="vi">Hợp lý</category>
			<category xml:lang="zh_CN">逻辑</category>
			<category xml:lang="zh_HK">邏輯</category>
			<category xml:lang="zh_TW">邏輯</category>
			<functions textdomain="gnumeric-functions">
				<function name="and"/>
				<function name="or"/>
				<function name="xor"/>
				<function name="not"/>
				<function name="iferror"/>
				<function name="ifna"/>
				<function name="true"/>
				<function name="false"/>
			</functions>
		</service>
	</services>
</plugin>