<?xml version="1.0" encoding="UTF-8"?>
<plugin id="Gnumeric_fndate">
	<information>
		<name>Date and Time Functions</name>
		<name xml:lang="ast">Funciones de fecha y hora</name>
		<name xml:lang="bg">Функции за дата и време</name>
		<name xml:lang="ca">Funcions d'hora i de data</name>
		<name xml:lang="ca@valencia">Funcions d'hora i de data</name>
		<name xml:lang="cs">Funkce data a času</name>
		<name xml:lang="da">Dato- og tidsfunktioner</name>
		<name xml:lang="de">Datums- und Zeitfunktionen</name>
		<name xml:lang="dz">ཚེས་གྲངས་དང་ཆུ་ཚོད་ལས་འགན་ཚུ་</name>
		<name xml:lang="el">Συναρτήσεις ημερομηνίας και ώρας</name>
		<name xml:lang="en_CA">Date and Time Functions</name>
		<name xml:lang="en_GB">Date and Time Functions</name>
		<name xml:lang="eo">Funkcioj de dato kaj tempo</name>
		<name xml:lang="es">Funciones de fecha y hora</name>
		<name xml:lang="et">Kuupäeva ja kellaaja funktsioonid</name>
		<name xml:lang="eu">Data eta orduaren funtzioak</name>
		<name xml:lang="fi">Päiväys- ja aikafunktiot</name>
		<name xml:lang="fr">Fonctions de date et heure</name>
		<name xml:lang="gl">Funcións de data e hora</name>
		<name xml:lang="gu">તારીખ અને સમય વિધેયો</name>
		<name xml:lang="he">פונקציות תאריך ושעה</name>
		<name xml:lang="hr">Funkcije za rad sa datumom i vremenom</name>
		<name xml:lang="hu">Dátum- és időfüggvények</name>
		<name xml:lang="id">Tanggal dan Fungsi-fungsi Waktu</name>
		<name xml:lang="it">Funzioni per la data e l'ora</name>
		<name xml:lang="ja">日付と時刻の関数</name>
		<name xml:lang="ko">날짜와 시간 함수</name>
		<name xml:lang="lt">Datos ir laiko funkcijos</name>
		<name xml:lang="lv">Datuma un laika funkcijas</name>
		<name xml:lang="mk">Функции за време и датум</name>
		<name xml:lang="ml">തീയതിയും സമയും</name>
		<name xml:lang="ms">Fungsi Tarikh dan Waktu</name>
		<name xml:lang="nb">Dato- og tidsfunksjoner</name>
		<name xml:lang="ne">मिति र समय प्रकार्य</name>
		<name xml:lang="nl">Datum- en tijdfuncties</name>
		<name xml:lang="pl">Funkcje daty i czasu</name>
		<name xml:lang="pt">Funções de Datas e Horas</name>
		<name xml:lang="pt_BR">Funções de data e hora</name>
		<name xml:lang="ru">Функции даты и времени</name>
		<name xml:lang="sk">Funkcie pre dátum a čas</name>
		<name xml:lang="sl">Funkcije datuma in časa</name>
		<name xml:lang="sr">Функције за рад са датумом и временом</name>
		<name xml:lang="sr@latin">Funkcije za rad sa datumom i vremenom</name>
		<name xml:lang="sv">Datum- och tidsfunktioner</name>
		<name xml:lang="te">తారీఖు మరియు సమయ కార్యాలు</name>
		<name xml:lang="tr">Tarih ve Zaman İşlevleri</name>
		<name xml:lang="vi">Hàm ngày/giờ</name>
		<name xml:lang="zh_CN">日期和时间函数</name>
		<name xml:lang="zh_HK">日期及時間函數</name>
		<name xml:lang="zh_TW">日期及時間函式</name>
		<description>Functions manipulating dates and time</description>
		<description xml:lang="ast">Funciones que manipulen feches y hores</description>
		<description xml:lang="bg">Функции за обработка на дати и време</description>
		<description xml:lang="ca">Funcions de manipulació de dates i temps</description>
		<description xml:lang="ca@valencia">Funcions de manipulació de dates i temps</description>
		<description xml:lang="cs">Funkce pro práci s daty a časem</description>
		<description xml:lang="da">Funktioner der manipulerer datoer og tid</description>
		<description xml:lang="de">Funktionen zur Manipulation von Datum und Zeit</description>
		<description xml:lang="dz">ཚེས་གྲངས་ཚུ་དང་ཆུ་ཚོད་ལག་ལེན་བསྟར་མི་ལས་འགན་ཚུ་</description>
		<description xml:lang="el">Συναρτήσεις που διαχειρίζονται ημερομηνίες και χρόνο</description>
		<description xml:lang="en_CA">Functions manipulating dates and time</description>
		<description xml:lang="en_GB">Functions manipulating dates and time</description>
		<description xml:lang="es">Funciones que manipulan fechas y hora</description>
		<description xml:lang="et">Funktsioonid kuupäeva ja kellaaja käsitlemiseks</description>
		<description xml:lang="eu">Datak eta ordua manipulatzeko funtzioak</description>
		<description xml:lang="fi">Funktiot päiväyksien ja aikojen käsittelyyn</description>
		<description xml:lang="fr">Fonctions manipulant la date et l'heure</description>
		<description xml:lang="gl">Funcións que manipulan datas e horas</description>
		<description xml:lang="he">פונקציות המטפלות בתאריך ושעה</description>
		<description xml:lang="hr">Funkcije za rad sa datumima i vremenom</description>
		<description xml:lang="hu">Dátumokat és időket kezelő függvények</description>
		<description xml:lang="id">Fungsi-fungsi manipulasi tangal dan waktu</description>
		<description xml:lang="it">Funzioni per manipolare date e orari</description>
		<description xml:lang="ja">日付/時刻操作関数</description>
		<description xml:lang="ko">날짜와 시간을 가지고 고치는 함수</description>
		<description xml:lang="lt">Funkcijos apdorojančios datas ir laiką</description>
		<description xml:lang="lv">Funkcijas datumu un laiku manipulēšanai</description>
		<description xml:lang="mk">Функции за манипулација со датум и време</description>
		<description xml:lang="ml">പ്രവ‌ര്ത്തനങ്ങള് കൈകാര്യം ചെയ‌്ത തീയതിയും സമയവും</description>
		<description xml:lang="ms">Fungsi memanipulasi tarikh dan masa</description>
		<description xml:lang="nb">Funksjoner for manipulering av dato og klokkeslett</description>
		<description xml:lang="ne">मिति र समय म्यानिपुलेट गर्ने प्रकार्य</description>
		<description xml:lang="nl">Functies die datums en tijd manipuleren</description>
		<description xml:lang="pl">Funkcje do manipulacji datą i czasem</description>
		<description xml:lang="pt">Funções que manipulam datas e horas</description>
		<description xml:lang="pt_BR">Funções que manipulam datas e horas</description>
		<description xml:lang="ru">Функции для работы с датами и временем</description>
		<description xml:lang="sk">Funkcie pre prácu s dátumom a časom</description>
		<description xml:lang="sl">Funkcije za upravljanje z datumskimi in časovnimi vrednostmi</description>
		<description xml:lang="sr">Функције за рад са датумима и временом</description>
		<description xml:lang="sr@latin">Funkcije za rad sa datumima i vremenom</description>
		<description xml:lang="sv">Funktioner som manipulerar datum och tid</description>
		<description xml:lang="tr">Tarih ve zaman işlemleri için işlevler</description>
		<description xml:lang="vi">Hàm xử lý ngày giờ</description>
		<description xml:lang="zh_CN">处理日期和时间的函数</description>
		<description xml:lang="zh_HK">處理日期及時間的函數</description>
		<description xml:lang="zh_TW">處理日期及時間的函式</description>
	</information>
	<loader type="Gnumeric_Builtin:module">
		<attribute value="plugin" name="module_file"/>
	</loader>
	<services>
		<service type="function_group" id="datetime">
			<category>Date/Time</category>
			<category xml:lang="am">ቀን/ሰዓት</category>
			<category xml:lang="ar">التّاريخ/الوقت</category>
			<category xml:lang="ast">Fecha/Hora</category>
			<category xml:lang="bg">Дата/време</category>
			<category xml:lang="ca">Data / hora</category>
			<category xml:lang="ca@valencia">Data / hora</category>
			<category xml:lang="cs">Datum/Čas</category>
			<category xml:lang="da">Dato/klokkeslet</category>
			<category xml:lang="de">Datum / Zeit</category>
			<category xml:lang="dz">ཚེསག་གྲངས་/ཆུ་ཚོད་</category>
			<category xml:lang="el">Ημερομηνία/Ώρα</category>
			<category xml:lang="en_CA">Date/Time</category>
			<category xml:lang="en_GB">Date/Time</category>
			<category xml:lang="eo">Dato/tempo</category>
			<category xml:lang="es">Fecha/Hora</category>
			<category xml:lang="et">Kuupäev/Aeg</category>
			<category xml:lang="eu">Data/Ordua</category>
			<category xml:lang="fi">Päiväys ja aika</category>
			<category xml:lang="fr">Date/Heure</category>
			<category xml:lang="ga">Dáta/Am</category>
			<category xml:lang="gl">Data / Hora</category>
			<category xml:lang="gu">તારીખ/સમય</category>
			<category xml:lang="he">תאריך/שעה</category>
			<category xml:lang="hr">Datum/vrijeme</category>
			<category xml:lang="hu">Dátum/Idő</category>
			<category xml:lang="id">Tanggal/waktu</category>
			<category xml:lang="it">Data/Ora</category>
			<category xml:lang="ja">日付/時刻</category>
			<category xml:lang="kk">Күн/Уақыт</category>
			<category xml:lang="ko">날짜/시간</category>
			<category xml:lang="lt">Data / laikas</category>
			<category xml:lang="lv">Datums/laiks</category>
			<category xml:lang="mk">Датум/време</category>
			<category xml:lang="ml">തീയതി/സമയം</category>
			<category xml:lang="ms">Tarikh/Masa</category>
			<category xml:lang="nb">Dato/Klokkeslett</category>
			<category xml:lang="ne">मिति/समय</category>
			<category xml:lang="nl">Datum/Tijd</category>
			<category xml:lang="nn">Dato/tid</category>
			<category xml:lang="oc">Data / ora</category>
			<category xml:lang="pl">Data/czas</category>
			<category xml:lang="pt">Data/Hora</category>
			<category xml:lang="pt_BR">Data/Hora</category>
			<category xml:lang="ru">Дата и время</category>
			<category xml:lang="rw">Itariki/Igihe</category>
			<category xml:lang="sk">Dátum/Čas</category>
			<category xml:lang="sl">Datum/čas</category>
			<category xml:lang="sr">Датум/Време</category>
			<category xml:lang="sr@latin">Datum/Vreme</category>
			<category xml:lang="sv">Datum/Tid</category>
			<category xml:lang="vi">Ngày/Giờ</category>
			<category xml:lang="zh_CN">日期/时间</category>
			<category xml:lang="zh_HK">日期/時間</category>
			<category xml:lang="zh_TW">日期/時間</category>
			<functions textdomain="gnumeric-functions">
				<function name="date"/>
				<function name="unix2date"/>
				<function name="date2unix"/>
				<function name="datevalue"/>
				<function name="datedif"/>
				<function name="day"/>
				<function name="days"/>
				<function name="days360"/>
				<function name="edate"/>
				<function name="eomonth"/>
				<function name="hour"/>
				<function name="minute"/>
				<function name="month"/>
				<function name="networkdays"/>
				<function name="now"/>
				<function name="second"/>
				<function name="time"/>
				<function name="odf.time"/>
				<function name="timevalue"/>
				<function name="today"/>
				<function name="weekday"/>
				<function name="workday"/>
				<function name="year"/>
				<function name="yearfrac"/>
				<function name="isoweeknum"/>
				<function name="isoyear"/>
				<function name="weeknum"/>
			</functions>
		</service>
	</services>
</plugin>