<?xml version="1.0" encoding="UTF-8"?>
<plugin id="Gnumeric_fnstat">
	<information>
		<name>Statistical Functions</name>
		<name xml:lang="ast">Funciones estadístiques</name>
		<name xml:lang="bg">Статистически функции</name>
		<name xml:lang="ca">Funcions estadístiques</name>
		<name xml:lang="ca@valencia">Funcions estadístiques</name>
		<name xml:lang="cs">Statistické funkce</name>
		<name xml:lang="da">Statistiske funktioner</name>
		<name xml:lang="de">Statistische Funktionen</name>
		<name xml:lang="dz">ཚད་རྩིས་ཀྱི་ལས་འགན་ཚུ་</name>
		<name xml:lang="el">Στατιστικές συναρτήσεις</name>
		<name xml:lang="en_CA">Statistical Functions</name>
		<name xml:lang="en_GB">Statistical Functions</name>
		<name xml:lang="eo">Statistikaj funkcioj</name>
		<name xml:lang="es">Funciones estadísticas</name>
		<name xml:lang="et">Statistikafunktsioonid</name>
		<name xml:lang="eu">Funtzio estatistikoak</name>
		<name xml:lang="fi">Tilastofunktiot</name>
		<name xml:lang="fr">Méthodes statistiques</name>
		<name xml:lang="gl">Funcións estatísticas</name>
		<name xml:lang="he">פונקציות סטטיסטיות</name>
		<name xml:lang="hr">Statističke funkcije</name>
		<name xml:lang="hu">Statisztikai függvények</name>
		<name xml:lang="id">Fungsi-fungsi Statistika</name>
		<name xml:lang="it">Funzioni statistiche</name>
		<name xml:lang="ja">統計関数</name>
		<name xml:lang="ko">통계 함수</name>
		<name xml:lang="lt">Statistinės funkcijos</name>
		<name xml:lang="lv">Statistiskas funkcijas</name>
		<name xml:lang="mk">Статистички функции</name>
		<name xml:lang="ml">സ്ഥിതി പ്രവ‌ര്ത്തനങ്ങള്</name>
		<name xml:lang="ms">Fungsi Stastik</name>
		<name xml:lang="nb">Statistiske funksjoner</name>
		<name xml:lang="ne">तथ्याङ्कीय प्रकार्यहरू</name>
		<name xml:lang="nl">Statistische functies</name>
		<name xml:lang="nn">Statistiske funksjonar</name>
		<name xml:lang="oc">Foncions estadisticas</name>
		<name xml:lang="pl">Funkcje statystyczne</name>
		<name xml:lang="pt">Funções Estatísticas</name>
		<name xml:lang="pt_BR">Funções estatísticas</name>
		<name xml:lang="ru">Статистические функции</name>
		<name xml:lang="rw">Imimaro ya sitatisitike</name>
		<name xml:lang="sk">Štatistické funkcie</name>
		<name xml:lang="sl">Statistične funkcije</name>
		<name xml:lang="sr">Статистичке функције</name>
		<name xml:lang="sr@latin">Statističke funkcije</name>
		<name xml:lang="sv">Statistikfunktioner</name>
		<name xml:lang="tr">İstatistiksel İşlevler</name>
		<name xml:lang="vi">Hàm thống kê</name>
		<name xml:lang="zh_CN">统计函数</name>
		<name xml:lang="zh_HK">統計函數</name>
		<name xml:lang="zh_TW">統計函式</name>
		<description>Statistical Functions</description>
		<description xml:lang="ast">Funciones estadístiques</description>
		<description xml:lang="bg">Статистически функции</description>
		<description xml:lang="ca">Funcions estadístiques</description>
		<description xml:lang="ca@valencia">Funcions estadístiques</description>
		<description xml:lang="cs">Statistické funkce</description>
		<description xml:lang="da">Statistiske funktioner</description>
		<description xml:lang="de">Statistische Funktionen</description>
		<description xml:lang="dz">ཚད་རྩིས་ཀྱི་ལས་འགན་ཚུ་</description>
		<description xml:lang="el">Στατιστικές συναρτήσεις</description>
		<description xml:lang="en_CA">Statistical Functions</description>
		<description xml:lang="en_GB">Statistical Functions</description>
		<description xml:lang="eo">Statistikaj funkcioj</description>
		<description xml:lang="es">Funciones estadísticas</description>
		<description xml:lang="et">Statistikafunktsioonid</description>
		<description xml:lang="eu">Funtzio estatistikoak</description>
		<description xml:lang="fi">Tilastofunktiot</description>
		<description xml:lang="fr">Méthodes statistiques</description>
		<description xml:lang="gl">Funcións estatísticas</description>
		<description xml:lang="he">פונקציות סטטיסטיות</description>
		<description xml:lang="hr">Statističke funkcije</description>
		<description xml:lang="hu">Statisztikai függvények</description>
		<description xml:lang="id">Fungsi-fungsi Statistika</description>
		<description xml:lang="it">Funzioni statistiche</description>
		<description xml:lang="ja">統計関数</description>
		<description xml:lang="ko">통계 함수</description>
		<description xml:lang="lt">Statistinės funkcijos</description>
		<description xml:lang="lv">Statistiskas funkcijas</description>
		<description xml:lang="mk">Статистички функции</description>
		<description xml:lang="ml">സ്ഥിതി പ്രവ‌ര്ത്തനങ്ങള്</description>
		<description xml:lang="ms">Fungsi Stastik</description>
		<description xml:lang="nb">Statistiske funksjoner</description>
		<description xml:lang="ne">तथ्याङ्कीय प्रकार्यहरू</description>
		<description xml:lang="nl">Statistische functies</description>
		<description xml:lang="nn">Statistiske funksjonar</description>
		<description xml:lang="oc">Foncions estadisticas</description>
		<description xml:lang="pl">Funkcje statystyczne</description>
		<description xml:lang="pt">Funções Estatísticas</description>
		<description xml:lang="pt_BR">Funções estatísticas</description>
		<description xml:lang="ru">Статистические функции</description>
		<description xml:lang="rw">Imimaro ya sitatisitike</description>
		<description xml:lang="sk">Štatistické funkcie</description>
		<description xml:lang="sl">Statistične funkcije</description>
		<description xml:lang="sr">Статистичке функције</description>
		<description xml:lang="sr@latin">Statističke funkcije</description>
		<description xml:lang="sv">Statistikfunktioner</description>
		<description xml:lang="tr">İstatistiksel İşlevler</description>
		<description xml:lang="vi">Hàm thống kê</description>
		<description xml:lang="zh_CN">统计函数</description>
		<description xml:lang="zh_HK">統計函數</description>
		<description xml:lang="zh_TW">統計函式</description>
	</information>
	<loader type="Gnumeric_Builtin:module">
		<attribute value="plugin" name="module_file"/>
	</loader>
	<services>
		<service type="function_group" id="stat">
			<category>Statistics</category>
			<category xml:lang="am">የቍጥር መረጃ ጥናት</category>
			<category xml:lang="ast">Estadístiques</category>
			<category xml:lang="az">Statistikalar</category>
			<category xml:lang="bg">Статистика</category>
			<category xml:lang="ca">Estadístiques</category>
			<category xml:lang="ca@valencia">Estadístiques</category>
			<category xml:lang="cs">Statistické</category>
			<category xml:lang="da">Statistik</category>
			<category xml:lang="de">Statistik</category>
			<category xml:lang="dz">ཚད་རྩིས་</category>
			<category xml:lang="el">Στατιστική</category>
			<category xml:lang="en_CA">Statistics</category>
			<category xml:lang="en_GB">Statistics</category>
			<category xml:lang="eo">Statistiko</category>
			<category xml:lang="es">Estadísticas</category>
			<category xml:lang="et">Statistika</category>
			<category xml:lang="eu">Estatistika</category>
			<category xml:lang="fi">Tilastot</category>
			<category xml:lang="fr">Statistiques</category>
			<category xml:lang="gl">Estatística</category>
			<category xml:lang="he">סטטיסטיקה</category>
			<category xml:lang="hr">Statistike</category>
			<category xml:lang="hu">Statisztika</category>
			<category xml:lang="id">Statistika</category>
			<category xml:lang="it">Statistiche</category>
			<category xml:lang="ja">統計</category>
			<category xml:lang="kk">Статистика</category>
			<category xml:lang="ko">통계</category>
			<category xml:lang="lt">Statistika</category>
			<category xml:lang="lv">Statistika</category>
			<category xml:lang="mk">Статистика</category>
			<category xml:lang="ml">സ്ഥിതിവിവരങ്ങള്‌</category>
			<category xml:lang="mr">आंकडेवारी</category>
			<category xml:lang="ms">Statistik</category>
			<category xml:lang="nb">Statistikk</category>
			<category xml:lang="ne">तथ्याङ्क</category>
			<category xml:lang="nl">Statistieken</category>
			<category xml:lang="nn">Statistikk</category>
			<category xml:lang="oc">Estadisticas</category>
			<category xml:lang="pl">Statystyka</category>
			<category xml:lang="pt">Estatísticas</category>
			<category xml:lang="pt_BR">Estatísticas</category>
			<category xml:lang="ru">Статистические</category>
			<category xml:lang="rw">Sitatisitiki</category>
			<category xml:lang="sk">Štatistika</category>
			<category xml:lang="sl">Statistika</category>
			<category xml:lang="sr">Статистика</category>
			<category xml:lang="sr@latin">Statistika</category>
			<category xml:lang="sv">Statistik</category>
			<category xml:lang="tr">İstatistikler</category>
			<category xml:lang="uk">Статистика</category>
			<category xml:lang="vi">Thống kê</category>
			<category xml:lang="zh_CN">统计</category>
			<category xml:lang="zh_HK">統計</category>
			<category xml:lang="zh_TW">統計</category>
			<functions textdomain="gnumeric-functions">
				<function name="adtest"/>
				<function name="avedev"/>
				<function name="average"/>
				<function name="averagea"/>
				<function name="bernoulli"/>
				<function name="betadist"/>
				<function name="beta.dist"/>
				<function name="betainv"/>
				<function name="binom.dist.range"/>
				<function name="binomdist"/>
				<function name="cauchy"/>
				<function name="chidist"/>
				<function name="chiinv"/>
				<function name="chitest"/>
				<function name="confidence"/>
				<function name="correl"/>
				<function name="count"/>
				<function name="counta"/>
				<function name="covar"/>
				<function name="covariance.s"/>
				<function name="critbinom"/>
				<function name="cronbach"/>
				<function name="cvmtest"/>
				<function name="devsq"/>
				<function name="expondist"/>
				<function name="exppowdist"/>
				<function name="fdist"/>
				<function name="finv"/>
				<function name="fisher"/>
				<function name="fisherinv"/>
				<function name="forecast"/>
				<function name="frequency"/>
				<function name="ftest"/>
				<function name="gammadist"/>
				<function name="gammainv"/>
				<function name="geomdist"/>
				<function name="geomean"/>
				<function name="growth"/>
				<function name="harmean"/>
				<function name="hypgeomdist"/>
				<function name="intercept"/>
				<function name="kurt"/>
				<function name="kurtp"/>
				<function name="landau"/>
				<function name="laplace"/>
				<function name="large"/>
				<function name="leverage"/>
				<function name="linest"/>
				<function name="lkstest"/>
				<function name="logest"/>
				<function name="logfit"/>
				<function name="loginv"/>
				<function name="logistic"/>
				<function name="lognormdist"/>
				<function name="logreg"/>
				<function name="max"/>
				<function name="maxa"/>
				<function name="median"/>
				<function name="min"/>
				<function name="mina"/>
				<function name="mode"/>
				<function name="negbinomdist"/>
				<function name="normdist"/>
				<function name="norminv"/>
				<function name="normsdist"/>
				<function name="snorm.dist.range"/>
				<function name="normsinv"/>
				<function name="owent"/>
				<function name="pareto"/>
				<function name="pearson"/>
				<function name="percentile"/>
				<function name="percentrank"/>
				<function name="permut"/>
				<function name="permutationa"/>
				<function name="poisson"/>
				<function name="prob"/>
				<function name="quartile"/>
				<function name="rank"/>
				<function name="rank.avg"/>
				<function name="rayleigh"/>
				<function name="rayleightail"/>
				<function name="rsq"/>
				<function name="sftest"/>
				<function name="skew"/>
				<function name="skewp"/>
				<function name="slope"/>
				<function name="small"/>
				<function name="ssmedian"/>
				<function name="standardize"/>
				<function name="stdev"/>
				<function name="stdeva"/>
				<function name="stdevp"/>
				<function name="stdevpa"/>
				<function name="steyx"/>
				<function name="subtotal"/>
				<function name="tdist"/>
				<function name="tinv"/>
				<function name="trend"/>
				<function name="trimmean"/>
				<function name="ttest"/>
				<function name="var"/>
				<function name="vara"/>
				<function name="varp"/>
				<function name="varpa"/>
				<function name="weibull"/>
				<function name="ztest"/>
			</functions>
		</service>
	</services>
</plugin>