<?xml version="1.0" encoding="UTF-8"?>
<plugin id="Gnumeric_fneng">
	<information>
		<name>Engineering Functions</name>
		<name xml:lang="ast">Funciones d'inxeniería</name>
		<name xml:lang="bg">Инженерни функции</name>
		<name xml:lang="ca">Funcions d'enginyeria</name>
		<name xml:lang="ca@valencia">Funcions d'enginyeria</name>
		<name xml:lang="cs">Inženýrské funkce</name>
		<name xml:lang="de">Ingenieurswissenschaftliche Funktionen</name>
		<name xml:lang="dz">འཕྲུལ་ལས་ཀྱི་ལས་འགན་ཚུ་</name>
		<name xml:lang="el">Συναρτήσεις μηχανικών</name>
		<name xml:lang="en_CA">Engineering Functions</name>
		<name xml:lang="en_GB">Engineering Functions</name>
		<name xml:lang="eo">Inĝenieraj funkcioj</name>
		<name xml:lang="es">Funciones de ingeniería</name>
		<name xml:lang="et">Tehnilised funktsioonid</name>
		<name xml:lang="eu">Ingeniaritzako funtzioak</name>
		<name xml:lang="fi">Teknilliset funktiot</name>
		<name xml:lang="fr">Fonctions pour l'ingénierie</name>
		<name xml:lang="gl">Funcións de Enxeñería</name>
		<name xml:lang="gu">ઇજનેરી વિધેયો</name>
		<name xml:lang="hr">Inžinjerske funkcije</name>
		<name xml:lang="hu">Műszaki függvények</name>
		<name xml:lang="id">Fungsi-fungsi Rekayasa</name>
		<name xml:lang="it">Funzion ingegneristiche</name>
		<name xml:lang="ja">エンジニアリング関数</name>
		<name xml:lang="ko">공학 함수</name>
		<name xml:lang="lt">Inžinerinės funkcijos</name>
		<name xml:lang="lv">Inženierijas funkcijas</name>
		<name xml:lang="ml">എഞ്ചിനീയറിംഗ് പ്രവ‌ര്ത്തനങ്ങള്</name>
		<name xml:lang="ms">Fungsi Kejuruteraan</name>
		<name xml:lang="nb">Tekniske funksjoner</name>
		<name xml:lang="ne">इन्जिनियरिङ प्रकार्य</name>
		<name xml:lang="nl">Technische functies</name>
		<name xml:lang="pl">Funkcje Inżynieryjne</name>
		<name xml:lang="pt">Funções de Engenharia</name>
		<name xml:lang="pt_BR">Funções de engenharia</name>
		<name xml:lang="ru">Инженерные функции</name>
		<name xml:lang="sk">Inžinierske funkcie</name>
		<name xml:lang="sl">Inženirske funkcije</name>
		<name xml:lang="sr">Функције за инжењерство</name>
		<name xml:lang="sr@latin">Funkcije za inženjerstvo</name>
		<name xml:lang="sv">Ingenjörsfunktioner</name>
		<name xml:lang="tr">Mühendislik İşlevleri</name>
		<name xml:lang="vi">Hàm kỹ thuật</name>
		<name xml:lang="zh_CN">工程函数</name>
		<name xml:lang="zh_HK">工程學函數</name>
		<name xml:lang="zh_TW">工程學函式</name>
		<description>Functions for complex numbers, base conversions, and more</description>
		<description xml:lang="ast">Funciones pa númberos complexos, conversiones de base y más</description>
		<description xml:lang="bg">Функции за сложни числа, основни превръщания и други</description>
		<description xml:lang="ca">Funcions per a números complexos, conversions de base, i més</description>
		<description xml:lang="ca@valencia">Funcions per a números complexos, conversions de base, i més</description>
		<description xml:lang="cs">Funkce pro komplexní čísla, převody mezi soustavami a další</description>
		<description xml:lang="de">Funktionen für komplexe Zahlen, Basiskonversionen und mehr </description>
		<description xml:lang="dz">གོ་དཀའ་བའི་ཨང་ གཞི་རྟེན་གཞི་བསྒྱུར་འབད་ནི་ དང་དེ་ལས་ཐེབས་ཀྱི་དོན་ལུ་ལས་འགན་ཚུ་</description>
		<description xml:lang="el">Συναρτήσεις για μιγαδικούς αριθμούς, μετατροπές βάσης και άλλα</description>
		<description xml:lang="en_CA">Functions for complex numbers, base conversions, and more</description>
		<description xml:lang="en_GB">Functions for complex numbers, base conversions, and more</description>
		<description xml:lang="es">Funciones para números complejos, conversiones de base y más</description>
		<description xml:lang="et">Funktsioonid komplekarvude, baasteisenduste jms. jaoks</description>
		<description xml:lang="eu">Zenbaki konplexuetarako funtzioak, oinarri-bihurketak, eta gehiago</description>
		<description xml:lang="fi">Funktiota kompleksiluvuilla, lukukannan muunnokseen ja muihin</description>
		<description xml:lang="fr">Fonctions sur les nombres complexes, les conversions, et autres</description>
		<description xml:lang="gl">Funcións para números complexos, conversións de base e máis</description>
		<description xml:lang="hr">Funkcije koje rade s kompleksnim brojevima, osnovnim pretvaranjima i drugo</description>
		<description xml:lang="hu">Függvények komplex számokhoz, alapátalakításokhoz és máshoz</description>
		<description xml:lang="id">Fungsi-fungsi untuk bilangan kompleks, konversi basis, dan lain-lain</description>
		<description xml:lang="it">Funzioni per numeri complessi, conversione di base ed altro</description>
		<description xml:lang="ja">複素数や基数変換などの関数</description>
		<description xml:lang="ko">복소수, 진법 등등의 함수</description>
		<description xml:lang="lt">Funkcijos sudėtingiems skaičiams, bazinėms konversijoms ir kt.</description>
		<description xml:lang="lv">Funkcijas kompleksiem skaitļiem, bāžu pārveidošanai un vēl</description>
		<description xml:lang="nb">Funksjoner for komplekse tall, basekonvertering og mer</description>
		<description xml:lang="ne">जटिल सङ्ख्या, आधार रूपान्तरण तथा अन्यका लागि प्रकार्य</description>
		<description xml:lang="nl">Functies voor complexe getallen, coordinaattransformaties en meer</description>
		<description xml:lang="pl">Funkcje dla liczb złożonych, bazowe konwersje i więcej</description>
		<description xml:lang="pt">Funções para números complexos, conversões de base e mais</description>
		<description xml:lang="pt_BR">Funções para números complexos, conversão de base, e outras</description>
		<description xml:lang="ru">Функции для комплексных чисел, преобразования оснований и прочее</description>
		<description xml:lang="sk">Funkcie pre komplexné čísla, prevody medzi sústavami a ďalšie</description>
		<description xml:lang="sl">Funkcije za izračunavanje kompleksnih števil, pretvarjanje osnove in podobno</description>
		<description xml:lang="sr">Функције за рад са комплексним бројевима, основним претварањима и више од тога</description>
		<description xml:lang="sr@latin">Funkcije za rad sa kompleksnim brojevima, osnovnim pretvaranjima i više od toga</description>
		<description xml:lang="sv">Funktioner för komplexa tal, baskonvertering, med mera</description>
		<description xml:lang="tr">Karmaşık sayılar, taban dönüşümleri, vb. için işlevler</description>
		<description xml:lang="vi">Hàm xử lý số phức, chuyển đổi cơ số v.v.</description>
		<description xml:lang="zh_CN">执行计算复数、数制转换等功能的函数</description>
		<description xml:lang="zh_HK">用於複數、進制轉換等函數</description>
		<description xml:lang="zh_TW">用於複數、進制轉換等函式</description>
	</information>
	<loader type="Gnumeric_Builtin:module">
		<attribute value="plugin" name="module_file"/>
	</loader>
	<services>
		<service type="function_group" id="engineering">
			<category>Engineering</category>
			<category xml:lang="ast">Inxeniería</category>
			<category xml:lang="bg">Инженерни</category>
			<category xml:lang="ca">Enginyeria</category>
			<category xml:lang="ca@valencia">Enginyeria</category>
			<category xml:lang="cs">Inženýrské</category>
			<category xml:lang="da">Teknisk</category>
			<category xml:lang="de">Ingenieurswissenschaften</category>
			<category xml:lang="dz">འཕྲུལ་ལས་</category>
			<category xml:lang="el">Για μηχανικούς</category>
			<category xml:lang="en_CA">Engineering</category>
			<category xml:lang="en_GB">Engineering</category>
			<category xml:lang="eo">Inĝenierado</category>
			<category xml:lang="es">Ingeniería</category>
			<category xml:lang="et">Tehnika</category>
			<category xml:lang="eu">Ingeniaritza</category>
			<category xml:lang="fi">Tekniikka</category>
			<category xml:lang="fr">Ingénierie</category>
			<category xml:lang="gl">Enxeñería</category>
			<category xml:lang="gu">ઇજનેરી</category>
			<category xml:lang="hr">Inžinjerstvo</category>
			<category xml:lang="hu">Műszaki</category>
			<category xml:lang="id">Rekayasa</category>
			<category xml:lang="it">Ingegneristiche</category>
			<category xml:lang="ja">エンジニアリング</category>
			<category xml:lang="ko">공학</category>
			<category xml:lang="lt">Inžinerija</category>
			<category xml:lang="lv">Inženierija</category>
			<category xml:lang="ml">എഞ്ചിനീയറിംഗ്</category>
			<category xml:lang="ms">Kejuruteraan</category>
			<category xml:lang="nb">Teknisk</category>
			<category xml:lang="ne">इन्जिनियरिङ</category>
			<category xml:lang="nl">Techniek</category>
			<category xml:lang="nn">Teknisk</category>
			<category xml:lang="pl">Inżynieryjne</category>
			<category xml:lang="pt">Engenharia</category>
			<category xml:lang="pt_BR">Engenharia</category>
			<category xml:lang="ru">Инженерные</category>
			<category xml:lang="sk">Inžinierske</category>
			<category xml:lang="sl">Inženirstvo</category>
			<category xml:lang="sr">Инжењерство</category>
			<category xml:lang="sr@latin">Inženjerstvo</category>
			<category xml:lang="sv">Tekniska</category>
			<category xml:lang="tr">Mühendislik</category>
			<category xml:lang="uk">Інженерія</category>
			<category xml:lang="vi">Kỹ thuật</category>
			<category xml:lang="zh_CN">工程</category>
			<category xml:lang="zh_HK">工程學</category>
			<category xml:lang="zh_TW">工程學</category>
			<functions textdomain="gnumeric-functions">
				<function name="base"/>
				<function name="besseli"/>
				<function name="besselk"/>
				<function name="besselj"/>
				<function name="bessely"/>
				<function name="bin2dec"/>
				<function name="bin2hex"/>
				<function name="bin2oct"/>
				<function name="convert"/>
				<function name="dec2bin"/>
				<function name="dec2oct"/>
				<function name="dec2hex"/>
				<function name="decimal"/>
				<function name="delta"/>
				<function name="erf"/>
				<function name="erfc"/>
				<function name="gestep"/>
				<function name="hex2bin"/>
				<function name="hex2dec"/>
				<function name="hex2oct"/>
				<function name="hexrep"/>
				<function name="invsuminv"/>
				<function name="oct2bin"/>
				<function name="oct2dec"/>
				<function name="oct2hex"/>
			</functions>
		</service>
	</services>
</plugin>