<?xml version="1.0" encoding="UTF-8"?>
<plugin id="Gnumeric_fninfo">
	<information>
		<name>Information Functions</name>
		<name xml:lang="ast">Funciones d'información</name>
		<name xml:lang="bg">Информационни функции</name>
		<name xml:lang="ca">Funcions d'informació</name>
		<name xml:lang="ca@valencia">Funcions d'informació</name>
		<name xml:lang="cs">Informační funkce</name>
		<name xml:lang="da">Informationsfunktioner</name>
		<name xml:lang="de">Informationsfunktionen</name>
		<name xml:lang="dz">བརྡ་དོན་ལས་འགན་ཚུ་</name>
		<name xml:lang="el">Συναρτήσεις πληροφοριών</name>
		<name xml:lang="en_CA">Information Functions</name>
		<name xml:lang="en_GB">Information Functions</name>
		<name xml:lang="eo">Informaj funkcioj</name>
		<name xml:lang="es">Funciones de información</name>
		<name xml:lang="et">Teabefunktsioonid</name>
		<name xml:lang="eu">Informazio-funtzioak</name>
		<name xml:lang="fi">Tietofunktiot</name>
		<name xml:lang="fr">Fonctions informatives</name>
		<name xml:lang="gl">Funcións de información</name>
		<name xml:lang="gu">જાણકારી વિધેયો</name>
		<name xml:lang="he">מידע פונקציות</name>
		<name xml:lang="hr">Informacijske funkcije</name>
		<name xml:lang="hu">Információs függvények</name>
		<name xml:lang="id">Fungsi-fungsi Informasi</name>
		<name xml:lang="it">Funzioni per informazioni</name>
		<name xml:lang="ja">情報関数</name>
		<name xml:lang="ko">정보 함수</name>
		<name xml:lang="lt">Informacinės funkcijos</name>
		<name xml:lang="lv">Informācijas funkcijas</name>
		<name xml:lang="mk">Функции за информации</name>
		<name xml:lang="ml">വിവരധ‌‌‌ര്മ്മങ്ങള്‌</name>
		<name xml:lang="mr">माहितीच्या प्रक्रिया</name>
		<name xml:lang="ms">Fungsi Maklumat</name>
		<name xml:lang="nb">Informasjonsfunksjoner</name>
		<name xml:lang="ne">सूचना प्रकार्य</name>
		<name xml:lang="nl">Informatiefuncties</name>
		<name xml:lang="nn">Informasjonsfunksjonar</name>
		<name xml:lang="pl">Funkcje informacji</name>
		<name xml:lang="pt">Funções de Informação</name>
		<name xml:lang="pt_BR">Funções de informação</name>
		<name xml:lang="ru">Информационные функции</name>
		<name xml:lang="sk">Informačné funkcie</name>
		<name xml:lang="sl">Funkcije podrobnosti</name>
		<name xml:lang="sr">Функције обавештавања</name>
		<name xml:lang="sr@latin">Funkcije obaveštavanja</name>
		<name xml:lang="sv">Informationsfunktioner</name>
		<name xml:lang="tr">Bilgi İşlevleri</name>
		<name xml:lang="vi">Hàm thông tin</name>
		<name xml:lang="zh_CN">信息函数</name>
		<name xml:lang="zh_HK">資訊函數</name>
		<name xml:lang="zh_TW">資訊函式</name>
		<description>Functions for inspecting values, cells, and more</description>
		<description xml:lang="ast">Funciones pa inspeccionar valores, caxelles y más</description>
		<description xml:lang="bg">Функции за преглеждане на стойности, клетки и други</description>
		<description xml:lang="ca">Funcions per a examinar valors, cel·les i més</description>
		<description xml:lang="ca@valencia">Funcions per a examinar valors, cel·les i més</description>
		<description xml:lang="cs">Funkce pro zjišťování hodnot, buněk a další</description>
		<description xml:lang="da">Funktioner til inspektion af værdier, celler og mere</description>
		<description xml:lang="de">Funktionen für die Überprüfung von Werten, Zellen und mehr</description>
		<description xml:lang="dz">གནས་གོང་ཚུ་ ནང་ཐིག་ཚུ་ དང་དེ་ལས་ལྷག་སྟེ་ཞིབ་དཔྱད་འབད་ནིའི་དོན་ལུ་ལས་འགན་ཚུ་</description>
		<description xml:lang="el">Συναρτήσεις για την επιθεώρηση τιμών, κελιών και άλλων</description>
		<description xml:lang="en_CA">Functions for inspecting values, cells, and more</description>
		<description xml:lang="en_GB">Functions for inspecting values, cells, and more</description>
		<description xml:lang="es">Funciones para inspeccionar valores, celdas y más</description>
		<description xml:lang="et">Funktsioonid väärtuste, lahtrite jms. uurimiseks</description>
		<description xml:lang="eu">Balioak, gelaxkak eta abar ikuskatzeko funtzioak</description>
		<description xml:lang="fi">Funktiot arvojen, solujen ja muiden tarkasteluun</description>
		<description xml:lang="fr">Fonctions pour examiner des valeurs, cellules, et autres</description>
		<description xml:lang="gl">Funcións para inspeccionar valores, celas e máis</description>
		<description xml:lang="hr">Funkcije za nadgledanje vrijednosti, polja i drugo</description>
		<description xml:lang="hu">Értékek, cellák és egyebek megfigyelését szolgáló függvények</description>
		<description xml:lang="id">Fungsi-fungsi untuk memeriksa nilai, sel, dan lain-lain</description>
		<description xml:lang="it">Funzioni per ispezionare valori, celle ed altro</description>
		<description xml:lang="ja">セルのデータなどを調査する関数</description>
		<description xml:lang="lt">Funkcijos reikšmių, langelių ir kt. tyrimui</description>
		<description xml:lang="lv">Funkcijas vērtību, šūnu un vairāk izpētīšanai</description>
		<description xml:lang="mr">मूल्य, स्थान, आणि अधिक तपासण्याची प्रक्रिया</description>
		<description xml:lang="nb">Funksjoner for inspeksjon av verdier, celler og mer</description>
		<description xml:lang="ne">मानहरू, कक्षहरू, तथा अन्य निरिक्षण गर्ने प्रकार्य</description>
		<description xml:lang="nl">Functies voor onderzoek van waarden, cellen enz.</description>
		<description xml:lang="pl">Funkcje do badania wartości, komórek i więcej</description>
		<description xml:lang="pt">Funções para inspeccionar valores, células e mais</description>
		<description xml:lang="pt_BR">Funções que inspecionam valores, células e etc</description>
		<description xml:lang="ru">Функции для проверки значений, ячеек и пр.</description>
		<description xml:lang="sk">Funkcie pre zisťovanie hodnôt, buniek a ďalšie</description>
		<description xml:lang="sl">Funkcije za nadzor vrednosti izračunov, celic in podobno</description>
		<description xml:lang="sr">Функције за надгледање вредности, поља и више од тога</description>
		<description xml:lang="sr@latin">Funkcije za nadgledanje vrednosti, polja i više od toga</description>
		<description xml:lang="sv">Funktioner för inspektion av värden, celler, med mera</description>
		<description xml:lang="tr">Değerler, gözeler, vs. hakkında bilgi veren işlevler</description>
		<description xml:lang="vi">Hàm theo dõi giá trị, ô, và nhiều nữa</description>
		<description xml:lang="zh_CN">检查值、单元格和更多内容的函数</description>
	</information>
	<loader type="Gnumeric_Builtin:module">
		<attribute value="plugin" name="module_file"/>
	</loader>
	<services>
		<service type="function_group" id="info">
			<category>Information</category>
			<category xml:lang="am">መረጃ</category>
			<category xml:lang="ar">معلومات</category>
			<category xml:lang="ast">Información</category>
			<category xml:lang="az">Mə'lumat</category>
			<category xml:lang="bg">Информационни</category>
			<category xml:lang="ca">Informació</category>
			<category xml:lang="ca@valencia">Informació</category>
			<category xml:lang="cs">Informace</category>
			<category xml:lang="da">Information</category>
			<category xml:lang="de">Informationen</category>
			<category xml:lang="dz">བརྡ་དོན་</category>
			<category xml:lang="el">Πληροφορίες</category>
			<category xml:lang="en_CA">Information</category>
			<category xml:lang="en_GB">Information</category>
			<category xml:lang="eo">Informo</category>
			<category xml:lang="es">Información</category>
			<category xml:lang="et">Teave</category>
			<category xml:lang="eu">Informazioa</category>
			<category xml:lang="fi">Tiedot</category>
			<category xml:lang="fr">Information</category>
			<category xml:lang="ga">Eolas</category>
			<category xml:lang="gl">Información</category>
			<category xml:lang="gu">જાણકારી</category>
			<category xml:lang="he">מידע</category>
			<category xml:lang="hr">Informacije</category>
			<category xml:lang="hu">Információk</category>
			<category xml:lang="id">Informasi</category>
			<category xml:lang="it">Informazioni</category>
			<category xml:lang="ja">情報</category>
			<category xml:lang="kk">Ақпарат</category>
			<category xml:lang="ko">정보</category>
			<category xml:lang="lt">Informacija</category>
			<category xml:lang="lv">Informācija</category>
			<category xml:lang="mk">Информации</category>
			<category xml:lang="ml">വിവരം</category>
			<category xml:lang="mr">माहिती</category>
			<category xml:lang="ms">Maklumat</category>
			<category xml:lang="nb">Informasjon</category>
			<category xml:lang="ne">सूचना</category>
			<category xml:lang="nl">Informatie</category>
			<category xml:lang="nn">Informasjon</category>
			<category xml:lang="oc">Entresenhas</category>
			<category xml:lang="pl">Informacja</category>
			<category xml:lang="pt">Informação</category>
			<category xml:lang="pt_BR">Informação</category>
			<category xml:lang="ru">Информационные</category>
			<category xml:lang="rw">Ibisobanuro</category>
			<category xml:lang="sk">Informácie</category>
			<category xml:lang="sl">Podrobnosti</category>
			<category xml:lang="sr">Обавештење</category>
			<category xml:lang="sr@latin">Obaveštenje</category>
			<category xml:lang="sv">Information</category>
			<category xml:lang="tr">Bilgi</category>
			<category xml:lang="uk">Інформація</category>
			<category xml:lang="vi">Thông tin</category>
			<category xml:lang="zh_CN">信息</category>
			<category xml:lang="zh_HK">資訊</category>
			<category xml:lang="zh_TW">資訊</category>
			<functions textdomain="gnumeric-functions">
				<function name="cell"/>
				<function name="countblank"/>
				<function name="error"/>
				<function name="error.type"/>
				<function name="expression"/>
				<function name="get.formula"/>
				<function name="get.link"/>
				<function name="info"/>
				<function name="isblank"/>
				<function name="iserr"/>
				<function name="iserror"/>
				<function name="iseven"/>
				<function name="isformula"/>
				<function name="islogical"/>
				<function name="isna"/>
				<function name="isnontext"/>
				<function name="isnumber"/>
				<function name="isodd"/>
				<function name="isref"/>
				<function name="istext"/>
				<function name="n"/>
				<function name="na"/>
				<function name="type"/>
				<function name="getenv"/>
			</functions>
		</service>
	</services>
</plugin>