<?xml version="1.0" encoding="UTF-8"?>
<plugin id="Gnumeric_fnlookup">
	<information>
		<name>Lookup Functions</name>
		<name xml:lang="ast">Funciones de gueta</name>
		<name xml:lang="bg">Функции за търсене</name>
		<name xml:lang="ca">Funcions de cerca</name>
		<name xml:lang="ca@valencia">Funcions de cerca</name>
		<name xml:lang="cs">Vyhledávací funkce</name>
		<name xml:lang="da">Opslagsfunktioner</name>
		<name xml:lang="de">Suchfunktionen</name>
		<name xml:lang="dz">བལྟ་བའི་ལས་འགན་</name>
		<name xml:lang="el">Συναρτήσεις αναζήτησης</name>
		<name xml:lang="en_CA">Lookup Functions</name>
		<name xml:lang="en_GB">Lookup Functions</name>
		<name xml:lang="es">Funciones de búsqueda</name>
		<name xml:lang="et">Otsingufunktsioonid</name>
		<name xml:lang="eu">Bilaketak egiteko funtzioak</name>
		<name xml:lang="fi">Hakufunktiot</name>
		<name xml:lang="fr">Fonctions de recherche</name>
		<name xml:lang="gl">Funcións de busca</name>
		<name xml:lang="he">פונקציות חיפוש</name>
		<name xml:lang="hr">Povratne funkcija</name>
		<name xml:lang="hu">Keresőfüggvények</name>
		<name xml:lang="id">Fungsi-fungsi Lookup</name>
		<name xml:lang="it">Funzioni di ricerca</name>
		<name xml:lang="ja">検索関数</name>
		<name xml:lang="ko">찾기 함수</name>
		<name xml:lang="lt">Paieškos funkcijos</name>
		<name xml:lang="lv">Uzmeklēšanas funkcijas</name>
		<name xml:lang="ml">പ്രവ‌ര്ത്തനങ്ങള് നോക്കൂ</name>
		<name xml:lang="ms">Fungsi Carian</name>
		<name xml:lang="nb">Oppslagsfunksjoner</name>
		<name xml:lang="ne">प्रकार्य खोजी गर्नुहोस्</name>
		<name xml:lang="nl">Opzoekfuncties</name>
		<name xml:lang="nn">Oppslagsfunksjonar</name>
		<name xml:lang="pl">Funkcje wyszukiwania</name>
		<name xml:lang="pt">Funções de Procura</name>
		<name xml:lang="pt_BR">Funções de busca e referência</name>
		<name xml:lang="ru">Функции поиска</name>
		<name xml:lang="sk">Funkcie pre hľadanie</name>
		<name xml:lang="sl">Funkcije iskanja</name>
		<name xml:lang="sr">Функције за претрагу</name>
		<name xml:lang="sr@latin">Funkcije za pretragu</name>
		<name xml:lang="sv">Uppslagningsfunktioner</name>
		<name xml:lang="tr">Arama İşlevleri</name>
		<name xml:lang="vi">Hàm tra cứu</name>
		<name xml:lang="zh_CN">查阅函数</name>
		<name xml:lang="zh_HK">查閱函數</name>
		<name xml:lang="zh_TW">查閱函式</name>
		<description>Functions for looking up values in ranges</description>
		<description xml:lang="ast">Funciones pa guetar valores en rangos</description>
		<description xml:lang="bg">Функции за търсене на стойности в обхват</description>
		<description xml:lang="ca">Funcions per a buscar valors en rangs</description>
		<description xml:lang="ca@valencia">Funcions per a buscar valors en rangs</description>
		<description xml:lang="cs">Funkce pro hledání hodnot v oblastech</description>
		<description xml:lang="da">Funktioner til opslag i intervalværdier</description>
		<description xml:lang="de">Funktionen zum Suchen von Werten in Bereichen</description>
		<description xml:lang="dz">ཁྱབ་ཚད་ཚུ་ནང་ གནས་གོང་ཚུ་བལྟ་ནིའི་དོན་ལུ་ ལས་འགན་ཚུ་</description>
		<description xml:lang="el">Συναρτήσεις για αναζήτηση τιμών σε περιοχές</description>
		<description xml:lang="en_CA">Functions for looking up values in ranges</description>
		<description xml:lang="en_GB">Functions for looking up values in ranges</description>
		<description xml:lang="es">Funciones para buscar valores en rangos</description>
		<description xml:lang="et">Funktsioonid andmete otsimiseks vahemikes</description>
		<description xml:lang="eu">Barrutietan balioak bilatzeko funtzioak</description>
		<description xml:lang="fi">Funktiot arvojen etsimiseen alueesta</description>
		<description xml:lang="fr">Fonctions de recherche de valeurs dans des plages</description>
		<description xml:lang="gl">Funcións para buscar valores en rangos</description>
		<description xml:lang="hr">Funkcije koje pretražuju vrijednosti u rasponima</description>
		<description xml:lang="hu">Értékek tartományokból való kikeresésére szolgáló függvények</description>
		<description xml:lang="id">Fungsi-fungsi untuk mencari nilai dalam kisaran</description>
		<description xml:lang="it">Funzioni per ricercare valori in intervalli</description>
		<description xml:lang="ja">値がある範囲内にあるか検索する関数です</description>
		<description xml:lang="ko">범위에서 값 찾기 함수</description>
		<description xml:lang="lt">Funkcijos, skirtos reikšmių radimui langelių srityse</description>
		<description xml:lang="lv">Funkcijas vērtību uzmeklēšanai apgabalos</description>
		<description xml:lang="nb">Funksjoner for å slå opp verdier i områder</description>
		<description xml:lang="ne">दायराहरूमा खोज्नका लागि प्रकार्य</description>
		<description xml:lang="nl">Functies voor het opzoeken van waarden in bereiken</description>
		<description xml:lang="pl">Funkcje do wyszukiwania wartości w zakresach</description>
		<description xml:lang="pt">Funções para procurar valores em áreas</description>
		<description xml:lang="pt_BR">Funções para procurar por valores em regiões</description>
		<description xml:lang="ru">Функции для поиска значений в диапазонах</description>
		<description xml:lang="sk">Funkcie pre hľadanie hodnôt v rozsahoch</description>
		<description xml:lang="sl">Funkcije za iskanje vrednosti v podatkovnih vrstah</description>
		<description xml:lang="sr">Функције које претражују вредности у опсезима</description>
		<description xml:lang="sr@latin">Funkcije koje pretražuju vrednosti u opsezima</description>
		<description xml:lang="sv">Funktioner för uppslagning av värden i områden</description>
		<description xml:lang="tr">Bir aralık içindeki değerleri aramak için işlevler</description>
		<description xml:lang="vi">Hàm tra cứu giá trị trong phạm vi</description>
		<description xml:lang="zh_CN">在范围内查阅值的函数</description>
		<description xml:lang="zh_HK">在某個範圍查閱數值的函數</description>
		<description xml:lang="zh_TW">在某個範圍查閱數值的函式</description>
	</information>
	<loader type="Gnumeric_Builtin:module">
		<attribute value="plugin" name="module_file"/>
	</loader>
	<services>
		<service type="function_group" id="lookup">
			<category>Lookup</category>
			<category xml:lang="ast">Gueta</category>
			<category xml:lang="bg">Търсене</category>
			<category xml:lang="ca">Cerca</category>
			<category xml:lang="ca@valencia">Cerca</category>
			<category xml:lang="cs">Vyhledávání</category>
			<category xml:lang="da">Opslag</category>
			<category xml:lang="de">Suche</category>
			<category xml:lang="dz">བལྟ་བ་</category>
			<category xml:lang="el">Αναζήτηση</category>
			<category xml:lang="en_CA">Lookup</category>
			<category xml:lang="en_GB">Lookup</category>
			<category xml:lang="eo">Trarigardo</category>
			<category xml:lang="es">Búsqueda</category>
			<category xml:lang="et">Otsing</category>
			<category xml:lang="eu">Bilatu</category>
			<category xml:lang="fi">Haku</category>
			<category xml:lang="fr">Recherche</category>
			<category xml:lang="gl">Busca</category>
			<category xml:lang="he">חיפוש</category>
			<category xml:lang="hr">Potraga</category>
			<category xml:lang="hu">Lookup</category>
			<category xml:lang="id">Lookup</category>
			<category xml:lang="it">Ricerca</category>
			<category xml:lang="ja">検索</category>
			<category xml:lang="ko">찾기</category>
			<category xml:lang="lt">Paieška</category>
			<category xml:lang="lv">Uzmeklēšana</category>
			<category xml:lang="ml">മുകളിലേക്ക് നോക്കൂ</category>
			<category xml:lang="nb">Oppslag</category>
			<category xml:lang="ne">खोजी गर्नुहोस्</category>
			<category xml:lang="nl">Opzoeken</category>
			<category xml:lang="nn">Oppslag</category>
			<category xml:lang="pl">Wyszukiwanie</category>
			<category xml:lang="pt">Procura</category>
			<category xml:lang="pt_BR">Busca e referência</category>
			<category xml:lang="ru">Поиск</category>
			<category xml:lang="rw">Gushakisha</category>
			<category xml:lang="sk">Hľadanie</category>
			<category xml:lang="sl">Funkcije iskanja</category>
			<category xml:lang="sr">Проналажење</category>
			<category xml:lang="sr@latin">Pronalaženje</category>
			<category xml:lang="sv">Uppslagning</category>
			<category xml:lang="tr">Arama</category>
			<category xml:lang="vi">Tra_cứu</category>
			<category xml:lang="zh_CN">查阅</category>
			<category xml:lang="zh_HK">查閱</category>
			<category xml:lang="zh_TW">查閱</category>
			<functions textdomain="gnumeric-functions">
				<function name="address"/>
				<function name="areas"/>
				<function name="array"/>
				<function name="choose"/>
				<function name="column"/>
				<function name="columnnumber"/>
				<function name="columns"/>
				<function name="flip"/>
				<function name="hlookup"/>
				<function name="hyperlink"/>
				<function name="indirect"/>
				<function name="index"/>
				<function name="lookup"/>
				<function name="match"/>
				<function name="offset"/>
				<function name="row"/>
				<function name="rows"/>
				<function name="sheet"/>
				<function name="sheets"/>
				<function name="sort"/>
				<function name="transpose"/>
				<function name="vlookup"/>
			</functions>
		</service>
	</services>
</plugin>