<?xml version="1.0" encoding="UTF-8"?>
<plugin id="Gnumeric_derivatives">
	<information>
		<name>Financial Derivatives</name>
		<name xml:lang="ast">Derivaes financieres</name>
		<name xml:lang="bg">Финансови производни</name>
		<name xml:lang="ca">Subproductes financers</name>
		<name xml:lang="ca@valencia">Subproductes financers</name>
		<name xml:lang="cs">Finanční deriváty</name>
		<name xml:lang="da">Finansielle afledte</name>
		<name xml:lang="de">Finanzfunktionen</name>
		<name xml:lang="dz">དངུལ་རྩིས་ཀྱི་འགྱུར་བ་ཚུ་</name>
		<name xml:lang="el">Οικονομικές παράγωγα</name>
		<name xml:lang="en_CA">Financial Derivatives</name>
		<name xml:lang="en_GB">Financial Derivatives</name>
		<name xml:lang="eo">Financaj derivaĵoj</name>
		<name xml:lang="es">Derivados financieros</name>
		<name xml:lang="et">Rahanduslikud tuletused</name>
		<name xml:lang="eu">Finantza-eratorriak</name>
		<name xml:lang="fi">Rahoitusjohdannaiset</name>
		<name xml:lang="fr">Instruments financiers</name>
		<name xml:lang="gl">Derivados financieiros</name>
		<name xml:lang="hr">Financijski izvodi</name>
		<name xml:lang="hu">Pénzügyi származékok</name>
		<name xml:lang="id">Derivatif Keuangan</name>
		<name xml:lang="it">Derivate finanziarie</name>
		<name xml:lang="ja">財務関係</name>
		<name xml:lang="lt">Finansinės išvestinės</name>
		<name xml:lang="lv">Atvasinātie finanšu instrumenti</name>
		<name xml:lang="mk">Финансиски изводи</name>
		<name xml:lang="ml">സാമ്പത്തിക വ്യ‌ുല്പ്പന്നങ്ങള്</name>
		<name xml:lang="ms">Terbitan Kewangan</name>
		<name xml:lang="nb">Finansielle derivater</name>
		<name xml:lang="ne">वित्तिय डेरिभेटिभ</name>
		<name xml:lang="nl">Financieel Afgeleiden</name>
		<name xml:lang="nn">Finansielle avleiingar</name>
		<name xml:lang="pl">Pochodne finansowe</name>
		<name xml:lang="pt">Derivadas Financeiras</name>
		<name xml:lang="pt_BR">Derivativos financeiros</name>
		<name xml:lang="ro">Derivative financiare</name>
		<name xml:lang="ru">Финансовые производные</name>
		<name xml:lang="sk">Finančné produkty</name>
		<name xml:lang="sl">Izvedeni finančni instrumenti</name>
		<name xml:lang="sr">Финансијски изводи</name>
		<name xml:lang="sr@latin">Finansijski izvodi</name>
		<name xml:lang="sv">Finansiella derivat</name>
		<name xml:lang="tr">Finansal Türevler</name>
		<name xml:lang="uk">Фінансові похідні</name>
		<name xml:lang="vi">Đạo hàm tài chính</name>
		<name xml:lang="zh_CN">财务相关</name>
		<name xml:lang="zh_HK">財務衍生工具</name>
		<name xml:lang="zh_TW">財務衍生工具</name>
		<description>Functions related to financial derivatives</description>
		<description xml:lang="ast">Funciones rellacionaes con derivaos de finances</description>
		<description xml:lang="bg">Функции, отнасящи се до финансови производни</description>
		<description xml:lang="ca">Les funcions relacionades amb els subproductes financers</description>
		<description xml:lang="ca@valencia">Les funcions relacionades amb els subproductes financers</description>
		<description xml:lang="cs">Funkce spojené s finančními deriváty</description>
		<description xml:lang="da">Funktioner relaterede til finansielle afledte instrumenter</description>
		<description xml:lang="de">Funktionen aus dem Finanzbereich</description>
		<description xml:lang="dz">དངུལ་རྩིས་ཀྱི་འགྱུར་བ་ཚུ་ལུ་འབྲེལ་བ་ཡོད་པའི་ལས་འགན་ཚུ་</description>
		<description xml:lang="el">Συναρτήσεις σχετικές με οικονομικά παράγωγα</description>
		<description xml:lang="en_CA">Functions related to financial derivatives</description>
		<description xml:lang="en_GB">Functions related to financial derivatives</description>
		<description xml:lang="eo">Funkcioj rilate al financaj derivaĵoj</description>
		<description xml:lang="es">Funciones relacionadas con derivados financieros</description>
		<description xml:lang="et">Rahanduslike tuletustega seotud funktsioonid</description>
		<description xml:lang="eu">Finantza-eratorrien inguruko funtzioak</description>
		<description xml:lang="fi">Rahoitusjohdannaisiin liittyvät funktiot</description>
		<description xml:lang="fr">Fonctions relatives aux produits financiers</description>
		<description xml:lang="gl">Funcións relacionadas con derivados financieros</description>
		<description xml:lang="hr">Funkcije povezane s finansijskim podacima</description>
		<description xml:lang="hu">Pénzügyi származékokkal kapcsolatos függvények</description>
		<description xml:lang="id">Fungsi-fungsi yang berhubungan dengan derivatif keuangan</description>
		<description xml:lang="it">Funzioni relative alle derivate finanziarie</description>
		<description xml:lang="ja">金融関係の関数</description>
		<description xml:lang="lt">Funkcijos, susijusios su finansinėmis išvestinėmis</description>
		<description xml:lang="lv">Funkcijas, kas saistītas ar atvasinātajiem finanšu instrumentiem</description>
		<description xml:lang="mk">Функции кои се однесуваат на финансиски изводи</description>
		<description xml:lang="ml">സാമ്പത്തിക വ്യ‌ുല്പ്പന്നങ്ങളുമായി ബന്ധപ്പെട്ട പ്രവ‌ര്ത്തനങ്ങള്</description>
		<description xml:lang="ms">Fungsi berkait dengan terbitan kewangan</description>
		<description xml:lang="nb">Funksjoner relatert til finansielle derivater</description>
		<description xml:lang="ne">वित्तिय डेरिभेटिभसँग सम्बन्धित प्रकार्यहरू</description>
		<description xml:lang="nl">Functies gerelateerd aan financieel afgeleiden</description>
		<description xml:lang="nn">Funksjonar relatert finansielle avleiingar</description>
		<description xml:lang="pl">Funkcje związane z pochodnymi finansowymi</description>
		<description xml:lang="pt">Funções relacionadas com derivadas financeiras</description>
		<description xml:lang="pt_BR">Funções relativas a derivativos financeiros</description>
		<description xml:lang="ro">Funcţii referitoare la derivate financiare</description>
		<description xml:lang="ru">Функции, относящиеся к финансовым производным</description>
		<description xml:lang="sk">Funkcie pre finančné produkty</description>
		<description xml:lang="sl">Funkcije povezane z izvedenimi finančnimi instrumenti</description>
		<description xml:lang="sr">Функције у вези са финансијским изводима</description>
		<description xml:lang="sr@latin">Funkcije u vezi sa finansijskim izvodima</description>
		<description xml:lang="sv">Funktioner relaterade till finansiella derivat</description>
		<description xml:lang="tr">Finansal türevlerle ilgili işlevler</description>
		<description xml:lang="uk">Функції, що стосуються фінансових похідних</description>
		<description xml:lang="vi">Các hàm liên quan đến đạo hàm tài chính</description>
		<description xml:lang="zh_CN">与财务相关的函数</description>
		<description xml:lang="zh_HK">與財務衍生工具有關的函數</description>
		<description xml:lang="zh_TW">與財務衍生工具有關的函式</description>
	</information>
	<loader type="Gnumeric_Builtin:module">
		<attribute value="plugin" name="module_file"/>
	</loader>
	<services>
		<service type="function_group" id="derivatives">
			<category>Finance</category>
			<category xml:lang="ast">Finances</category>
			<category xml:lang="az">Maliyyə</category>
			<category xml:lang="bg">Финансови</category>
			<category xml:lang="ca">Finances</category>
			<category xml:lang="ca@valencia">Finances</category>
			<category xml:lang="cs">Finance</category>
			<category xml:lang="da">Finans</category>
			<category xml:lang="de">Finanzen</category>
			<category xml:lang="dz">དངུལ་རྩིས་</category>
			<category xml:lang="el">Οικονομικά</category>
			<category xml:lang="en_CA">Finance</category>
			<category xml:lang="en_GB">Finance</category>
			<category xml:lang="eo">Financo</category>
			<category xml:lang="es">Finanzas</category>
			<category xml:lang="et">Rahandus</category>
			<category xml:lang="eu">Finantzak</category>
			<category xml:lang="fi">Talous</category>
			<category xml:lang="fr">Financier</category>
			<category xml:lang="gl">Finanzas</category>
			<category xml:lang="gu">નાણાં</category>
			<category xml:lang="hr">Financije</category>
			<category xml:lang="hu">Pénzügyi</category>
			<category xml:lang="id">Keuangan</category>
			<category xml:lang="it">Finanza</category>
			<category xml:lang="ja">財務</category>
			<category xml:lang="ko">재정</category>
			<category xml:lang="lt">Finansai</category>
			<category xml:lang="lv">Finanses</category>
			<category xml:lang="mk">Финансиски</category>
			<category xml:lang="ms">Kewangan</category>
			<category xml:lang="nb">Finans</category>
			<category xml:lang="ne">वित्त</category>
			<category xml:lang="nl">Financieel</category>
			<category xml:lang="nn">Finans</category>
			<category xml:lang="pl">Finansowe</category>
			<category xml:lang="pt">Finanças</category>
			<category xml:lang="pt_BR">Financeiras</category>
			<category xml:lang="ru">Финансовые</category>
			<category xml:lang="sk">Finančné</category>
			<category xml:lang="sl">Finance</category>
			<category xml:lang="sr">Финансијски</category>
			<category xml:lang="sr@latin">Finansijski</category>
			<category xml:lang="sv">Finans</category>
			<category xml:lang="vi">Tài chính</category>
			<category xml:lang="zh_CN">财务</category>
			<category xml:lang="zh_HK">財務</category>
			<category xml:lang="zh_TW">財務</category>
			<functions textdomain="gnumeric-functions">
				<function name="cum_biv_norm_dist"/>
				<function name="opt_bs"/>
				<function name="opt_bs_delta"/>
				<function name="opt_bs_rho"/>
				<function name="opt_bs_theta"/>
				<function name="opt_bs_gamma"/>
				<function name="opt_bs_vega"/>
				<function name="opt_bs_carrycost"/>
				<function name="opt_garman_kohlhagen"/>
				<function name="opt_french"/>
				<function name="opt_jump_diff"/>
				<function name="opt_bjer_stens"/>
				<function name="opt_baw_amer"/>
				<function name="opt_exec"/>
				<function name="opt_miltersen_schwartz"/>
				<function name="opt_rgw"/>
				<function name="opt_forward_start"/>
				<function name="opt_time_switch"/>
				<function name="opt_simple_chooser"/>
				<function name="opt_complex_chooser"/>
				<function name="opt_on_options"/>
				<function name="opt_extendible_writer"/>
				<function name="opt_2_asset_correlation"/>
				<function name="opt_euro_exchange"/>
				<function name="opt_amer_exchange"/>
				<function name="opt_spread_approx"/>
				<function name="opt_float_strk_lkbk"/>
				<function name="opt_fixed_strk_lkbk"/>
				<function name="opt_binomial"/>
			</functions>
		</service>
	</services>
</plugin>