<?xml version="1.0" encoding="UTF-8"?>
<plugin id="Gnumeric_fnstring">
	<information>
		<name>String Functions</name>
		<name xml:lang="ast">Funciones de cadenes</name>
		<name xml:lang="bg">Функции за низове</name>
		<name xml:lang="ca">Funcions de cadena</name>
		<name xml:lang="ca@valencia">Funcions de cadena</name>
		<name xml:lang="cs">Textové funkce</name>
		<name xml:lang="da">Tekstfunktioner</name>
		<name xml:lang="de">Zeichenketten-Funktionen</name>
		<name xml:lang="dz">ཡིག་རྒྱུན་གྱི་ལས་འགན་</name>
		<name xml:lang="el">Συναρτήσεις συμβολοσειρών</name>
		<name xml:lang="en_CA">String Functions</name>
		<name xml:lang="en_GB">String Functions</name>
		<name xml:lang="eo">Ĉeno-funkcioj</name>
		<name xml:lang="es">Funciones de cadenas</name>
		<name xml:lang="et">Tekstifunktsioonid</name>
		<name xml:lang="eu">Kate-funtzioak</name>
		<name xml:lang="fi">Merkkijonofunktiot</name>
		<name xml:lang="fr">Fonctions sur les chaînes</name>
		<name xml:lang="gl">Funcións de cadeas de texto</name>
		<name xml:lang="gu">શબ્દમાળા વિધેયો</name>
		<name xml:lang="he">פונקציות מחרוזת</name>
		<name xml:lang="hr">Funkcije za nizove znakova</name>
		<name xml:lang="hu">Karakterlánc függvények</name>
		<name xml:lang="id">Fungsi-fungsi String</name>
		<name xml:lang="it">Funzioni per stringa</name>
		<name xml:lang="ja">文字列操作関数</name>
		<name xml:lang="ko">문자열 함수</name>
		<name xml:lang="lt">Eilučių funkcijos</name>
		<name xml:lang="lv">Virkņu funkcijas</name>
		<name xml:lang="mk">Функции на низи</name>
		<name xml:lang="ml">സ്ട്രിംഗ് പ്രവ‌ര്ത്തനങ്ങള്</name>
		<name xml:lang="ms">Fungsi Rentetan</name>
		<name xml:lang="nb">Streng-funksjoner</name>
		<name xml:lang="ne">स्ट्रिङ प्रकार्यहरू</name>
		<name xml:lang="nl">Tekenreeksfuncties</name>
		<name xml:lang="nn">Strengfunksjonar</name>
		<name xml:lang="pl">Funkcje napisowe</name>
		<name xml:lang="pt">Funções de Texto</name>
		<name xml:lang="pt_BR">Funções de texto</name>
		<name xml:lang="ru">Строковые функции</name>
		<name xml:lang="sk">Textové funkcie</name>
		<name xml:lang="sl">Funkcije nizov</name>
		<name xml:lang="sr">Функције за рад са нискама</name>
		<name xml:lang="sr@latin">Funkcije za rad sa niskama</name>
		<name xml:lang="sv">Strängfunktioner</name>
		<name xml:lang="tr">Dizge İşlevleri</name>
		<name xml:lang="vi">Hàm chuỗi</name>
		<name xml:lang="zh_CN">字符串函数</name>
		<name xml:lang="zh_HK">字串函數</name>
		<name xml:lang="zh_TW">字串函式</name>
		<description>Functions for manipulating strings</description>
		<description xml:lang="ast">Funciones pa manipular cadenes</description>
		<description xml:lang="bg">Функции за обработка на низове</description>
		<description xml:lang="ca">Funcions per a tractar cadenes</description>
		<description xml:lang="ca@valencia">Funcions per a tractar cadenes</description>
		<description xml:lang="cs">Funkce pro práci s textem</description>
		<description xml:lang="da">Funktioner til manipulation af tekst</description>
		<description xml:lang="de">Funktionen zur Manipulation von Zeichenketten</description>
		<description xml:lang="dz">ལག་ལེན་འཐབ་ནིའི་ཡིག་རྒྱུན་ཚུ་གི་ལས་འགན་ཚུ་</description>
		<description xml:lang="el">Συναρτήσεις για τη διαχείριση συμβολοσειρών</description>
		<description xml:lang="en_CA">Functions for manipulating strings</description>
		<description xml:lang="en_GB">Functions for manipulating strings</description>
		<description xml:lang="es">Funciones para manipular cadenas</description>
		<description xml:lang="et">Funktsioonid tekstitöötluseks</description>
		<description xml:lang="eu">Karaktere-kateak manipulatzeko funtzioak</description>
		<description xml:lang="fi">Funktiot merkkijonojen käsittelyyn</description>
		<description xml:lang="fr">Fonctions de manipulation de chaînes</description>
		<description xml:lang="gl">Funcións para manipular cadeas de texto</description>
		<description xml:lang="he">פונקציות לטיפול במחרוזות</description>
		<description xml:lang="hr">Funkcije za rad s nizovima znakova</description>
		<description xml:lang="hu">Karakterláncok kezelésére szolgáló függvények</description>
		<description xml:lang="id">Fungsi-fungsi untuk manipulasi string</description>
		<description xml:lang="it">Funzioni per la manipolazione di stringhe</description>
		<description xml:lang="ja">文字列操作関数</description>
		<description xml:lang="lt">Teksto tvarkymo funkcijos</description>
		<description xml:lang="lv">Funkcijas virkņu manipulēšanai</description>
		<description xml:lang="ml">സ്ട്രിംഗ് കൈകാര്യം ചെയ്യ‌ുന്നതിനുവേണ്ടിയുള്ള പ്രവ‌ര്ത്തനങ്ങള്‌</description>
		<description xml:lang="nb">Funksjoner for manipulasjon av strenger</description>
		<description xml:lang="ne">स्ट्रिङ मिलाउनका लागि प्रकार्यहरू</description>
		<description xml:lang="nl">Functies voor het manipuleren van tekenreeksen</description>
		<description xml:lang="pl">Funkcje do wykonywania operacji na napisach</description>
		<description xml:lang="pt">Funções para manipular texto</description>
		<description xml:lang="pt_BR">Funções para manipulação de textos</description>
		<description xml:lang="ru">Функции для работы со строками</description>
		<description xml:lang="sk">Funkcie pre prácu s reťazcami</description>
		<description xml:lang="sl">Funkcije za upravljanje nizov</description>
		<description xml:lang="sr">Функције за рад са низовима знакова</description>
		<description xml:lang="sr@latin">Funkcije za rad sa nizovima znakova</description>
		<description xml:lang="sv">Funktioner för manipulering av strängar</description>
		<description xml:lang="tr">Dizge işlemleri için işlevler</description>
		<description xml:lang="vi">Hàm xử lý chuỗi</description>
		<description xml:lang="zh_CN">处理字符串的函数</description>
		<description xml:lang="zh_HK">用來處理字串的函數</description>
		<description xml:lang="zh_TW">用來處理字串的函式</description>
	</information>
	<loader type="Gnumeric_Builtin:module">
		<attribute value="plugin" name="module_file"/>
	</loader>
	<services>
		<service type="function_group" id="string">
			<category>String</category>
			<category xml:lang="am">ሐረግ</category>
			<category xml:lang="ast">Cadena</category>
			<category xml:lang="az">Qatar</category>
			<category xml:lang="bg">Низ</category>
			<category xml:lang="ca">Cadena</category>
			<category xml:lang="ca@valencia">Cadena</category>
			<category xml:lang="cs">Text</category>
			<category xml:lang="da">Tekst</category>
			<category xml:lang="de">Zeichenkette</category>
			<category xml:lang="dz">ཡིག་རྒྱུན་</category>
			<category xml:lang="el">Συμβολοσειρά</category>
			<category xml:lang="en_CA">String</category>
			<category xml:lang="en_GB">String</category>
			<category xml:lang="eo">Ĉeno</category>
			<category xml:lang="es">Cadena</category>
			<category xml:lang="et">String</category>
			<category xml:lang="eu">Katea</category>
			<category xml:lang="fi">Merkkijono</category>
			<category xml:lang="fr">Chaîne</category>
			<category xml:lang="gl">Cadea de texto</category>
			<category xml:lang="gu">શબ્દમાળા</category>
			<category xml:lang="he">מחרוזת</category>
			<category xml:lang="hr">Znakovni niz</category>
			<category xml:lang="hu">Karakterlánc</category>
			<category xml:lang="id">String</category>
			<category xml:lang="it">Stringa</category>
			<category xml:lang="ja">文字列</category>
			<category xml:lang="ko">문자열</category>
			<category xml:lang="lt">Eilutė</category>
			<category xml:lang="lv">Virkne</category>
			<category xml:lang="mk">Низи</category>
			<category xml:lang="ml">വാക്യം</category>
			<category xml:lang="mr">ओळ</category>
			<category xml:lang="ms">Rentetan</category>
			<category xml:lang="nb">Streng</category>
			<category xml:lang="ne">स्ट्रिङ</category>
			<category xml:lang="nl">Tekenreeksen</category>
			<category xml:lang="nn">Strenghandtering</category>
			<category xml:lang="oc">Cadena</category>
			<category xml:lang="pl">Łańcuch znakowy</category>
			<category xml:lang="pt">Expressão</category>
			<category xml:lang="pt_BR">Texto</category>
			<category xml:lang="ro">Şiruri</category>
			<category xml:lang="ru">Строковые</category>
			<category xml:lang="rw">Ikurikiranyanyuguti</category>
			<category xml:lang="sk">Reťazec</category>
			<category xml:lang="sl">Niz</category>
			<category xml:lang="sr">Ниска</category>
			<category xml:lang="sr@latin">Niska</category>
			<category xml:lang="sv">Sträng</category>
			<category xml:lang="te">పదబంధం</category>
			<category xml:lang="tr">Dizge</category>
			<category xml:lang="uk">Рядок</category>
			<category xml:lang="vi">Chuỗi</category>
			<category xml:lang="zh_CN">字符串</category>
			<category xml:lang="zh_HK">字串</category>
			<category xml:lang="zh_TW">字串</category>
			<functions textdomain="gnumeric-functions">
				<function name="asc"/>
				<function name="char"/>
				<function name="clean"/>
				<function name="code"/>
				<function name="concatenate"/>
				<function name="dollar"/>
				<function name="exact"/>
				<function name="find"/>
				<function name="findb"/>
				<function name="fixed"/>
				<function name="jis"/>
				<function name="left"/>
				<function name="leftb"/>
				<function name="len"/>
				<function name="lenb"/>
				<function name="lower"/>
				<function name="mid"/>
				<function name="midb"/>
				<function name="numbervalue"/>
				<function name="proper"/>
				<function name="replace"/>
				<function name="replaceb"/>
				<function name="rept"/>
				<function name="right"/>
				<function name="rightb"/>
				<function name="search"/>
				<function name="searchb"/>
				<function name="substitute"/>
				<function name="t"/>
				<function name="text"/>
				<function name="trim"/>
				<function name="unichar"/>
				<function name="unicode"/>
				<function name="upper"/>
				<function name="value"/>
			</functions>
		</service>
	</services>
</plugin>