<?xml version="1.0" encoding="UTF-8"?>
<plugin id="Gnumeric_numtheory">
	<information>
		<name>Number Theory</name>
		<name xml:lang="ast">Teoría de númberos</name>
		<name xml:lang="bg">Теория на числата</name>
		<name xml:lang="ca">Teoria de nombres</name>
		<name xml:lang="ca@valencia">Teoria de nombres</name>
		<name xml:lang="cs">Teorie čísel</name>
		<name xml:lang="da">Talteori</name>
		<name xml:lang="de">Zahlentheorie</name>
		<name xml:lang="dz">ཨང་གི་རྣམ་བཞག་</name>
		<name xml:lang="el">Θεωρία αριθμών</name>
		<name xml:lang="en_CA">Number Theory</name>
		<name xml:lang="en_GB">Number Theory</name>
		<name xml:lang="es">Teoría de números</name>
		<name xml:lang="et">Arvuteooria</name>
		<name xml:lang="eu">Zenbakien teoria</name>
		<name xml:lang="fi">Lukuteoria</name>
		<name xml:lang="fr">Théorie des nombres</name>
		<name xml:lang="ga">Uimhirtheoiric</name>
		<name xml:lang="gl">Teoría de números</name>
		<name xml:lang="hr">Teorija brojeva</name>
		<name xml:lang="hu">Számelmélet</name>
		<name xml:lang="id">Teori Angka</name>
		<name xml:lang="it">Teoria dei numeri</name>
		<name xml:lang="ja">数論</name>
		<name xml:lang="ko">수학론</name>
		<name xml:lang="lt">Skaičių teorija</name>
		<name xml:lang="lv">Skaitļu teorija</name>
		<name xml:lang="mk">Теорија на броеви</name>
		<name xml:lang="ml">സംഖ്യാ സിദ്ധാന്തം</name>
		<name xml:lang="nb">Tallteori</name>
		<name xml:lang="ne">सङ्ख्या सिद्धान्त</name>
		<name xml:lang="nl">Getaltheorie</name>
		<name xml:lang="nn">Nummer teori</name>
		<name xml:lang="pl">Teoria liczb</name>
		<name xml:lang="pt">Teoria Numérica</name>
		<name xml:lang="pt_BR">Teoria dos números</name>
		<name xml:lang="ro">Teorie numerică</name>
		<name xml:lang="ru">Теория чисел</name>
		<name xml:lang="sk">Teória čísel</name>
		<name xml:lang="sl">Teorija števil</name>
		<name xml:lang="sr">Теорија бројева</name>
		<name xml:lang="sr@latin">Teorija brojeva</name>
		<name xml:lang="sv">Talteori</name>
		<name xml:lang="tr">Sayı Teorisi</name>
		<name xml:lang="uk">Теорія чисел</name>
		<name xml:lang="vi">Lý thuyết số</name>
		<name xml:lang="zh_CN">数论</name>
		<name xml:lang="zh_HK">數論</name>
		<name xml:lang="zh_TW">數論</name>
		<description>Several basic utilities for prime numbers, pi, phi, sigma. It also holds some simple bitwise operations.</description>
		<description xml:lang="ast">Dalgunes utilidaes básiques pa númberos primos, pi, fi, signa. Tamién caltién
dalgunes operaciones de bits.</description>
		<description xml:lang="bg">Няколко основни инструмента за прости числа, pi, phi, sigma. Поддържат и някои прости операции с битове.</description>
		<description xml:lang="ca">Diverses utilitats bàsiques per nombres primers, pi, phi, sigma. També conté algunes operacions bit a bit bàsiques.</description>
		<description xml:lang="ca@valencia">Diverses utilitats bàsiques per nombres primers, pi, phi, sigma. També conté algunes operacions bit a bit bàsiques.</description>
		<description xml:lang="cs">Několik základních nástrojů pro prvočísla, pí, fí, sigma. Obsahuje také některé základní bitové operace.</description>
		<description xml:lang="da">Forskellige basale funktioner for primtal, pi, phi, sigma. Modulet indeholder også nogle simple bitoperationer.</description>
		<description xml:lang="de">Einige grundlegende Werkzeuge für Primzahlen, Pi, Phi und Sigma. Enthält außerdem einige einfache bitweise Operationen</description>
		<description xml:lang="dz">གལ་ཅན་ཨང་ པི་ཨའི་ པི་ཨེཆ་ཨའི་ སིག་མ་ཚུ་གི་དོན་ལུ་ གཞི་རིམ་སྤྱོད་ཆར་མང་ཤོས་ཅིག  དེ་གིས་བིཊི་དང་འཁྲིལ་བའི་བཀོལ་སྤྱོད་འཇམ་སམ་ལ་ལུ་འཆངམ་ཨིན།</description>
		<description xml:lang="el">Μερικές βασικές χρήσεις για πρώτους αριθμούς, πι, φι, σίγμα. Κατέχει επίσης μερικές απλές λογικές πράξεις.</description>
		<description xml:lang="en_CA">Several basic utilities for prime numbers, pi, phi, sigma. It also holds some simple bitwise operations.</description>
		<description xml:lang="en_GB">Several basic utilities for prime numbers, pi, phi, sigma. It also holds some simple bitwise operations.</description>
		<description xml:lang="es">Varias utilidades básicas para números primos, pi, fi, sigma. También contiene algunas operaciones bit a bit sencillas.</description>
		<description xml:lang="eu">Oinarrizko hainbat utilitate zenbaki lehenentzat, pi, phi eta sigmarentzat. Bit mailako eragiketa sinple batzuk ere barne hartzen ditu.</description>
		<description xml:lang="fi">Useita perustyökaluja alkuluvuille, piille, fiille ja sigmalle. Se sisältää myös joitakin bitti-operaatioita.</description>
		<description xml:lang="fr">Nombreux utilitaires de base pour les nombres premiers, pi, phi, sigma. Il y a aussi quelques opérations simples bit à bit.</description>
		<description xml:lang="gl">Varias utilidaddes básicas para números primos, pi, fi e sigma. Tamén contén algunhas operacións bit a bit sinxelas.</description>
		<description xml:lang="hr">Nekoliko osnovnih alata za proste brojeve, pi, fi, sigma. Također sadrži neke jednostavne operacije na razini bita.</description>
		<description xml:lang="hu">Néhány prímszámokkal kapcsolatos függvény, π,φ,σ. Tartalmaz még egy pár bitenkénti műveletet is.</description>
		<description xml:lang="id">Sejumlah utilitas dasar untuk bilangan primer, pi, phi, sigma. Juga berisi beberapa operasi bitwise sederhana.</description>
		<description xml:lang="it">Alcune utilità di base per numeri primi, pi, phi, sigma. Contiene anche alcune semplici operazioni bit a bit.</description>
		<description xml:lang="ja">素数、π、φ、Σの基本ユーティリティです。簡易ビット演算機能も含まれています。</description>
		<description xml:lang="lt">Keletas paprastų įrankių darbui su pirminiais skaičiais, pi, phi, sigma. Taip pat suteikia keletą paprastų binarinių operacijų.</description>
		<description xml:lang="lv">Daži pamatrīki pirmskaitļiem, pī, fī, sigma. Tās arī satur dažas vienkāršas bitu operācijas.</description>
		<description xml:lang="nb">Flere grunnleggende verktøy for primtall, pi, phi, sigma. Har også noen enkle bit-operasjoner.</description>
		<description xml:lang="ne">प्राइम सङ्ख्याहरू पाइ, फाइ, सिग्माका लागि केही आधारभुत उपयोगिताहरू। यसले केही साधारण बिटवाइज सञ्चालनहरू पनि अवलम्बन गर्छ।</description>
		<description xml:lang="nl">Enkele basishulpmiddellen voor  priemgetallen, pi, phi, sigma. Het bevat ook enkele eenvoudige functies voor het manipuleren van bits.</description>
		<description xml:lang="nn">Fleire grunnleggande verkty for primtal, pi, phi, sigma. Den inneheld også enkle bitvise operasjonar.</description>
		<description xml:lang="pl">Kilka podstawowych narzędzi dla liczb pierwszych, pi, phi, sigma. Ponadto niektóre proste operacje bitowe.</description>
		<description xml:lang="pt">Vários utilitários básicos para números primos, pi, phi, sigma. Também contém algumas operações bitwise simples.</description>
		<description xml:lang="pt_BR">Vários utilitários básicos para números primos, pi, fi, sigma. Contém também,algumas operações simples bit-a-bit.</description>
		<description xml:lang="ru">Несколько основных утилит для простых чисел, Пи, фи, сигма. Также содержит некоторые простые операции с битами.</description>
		<description xml:lang="sk">Niekoľko základných nástrojov pre prvočísla, pi, fi, sigma. Obsahuje aj niektoré základné bitové operácie.</description>
		<description xml:lang="sl">Več osnovnih orodij za delo s praštevili, s pi, fi, sigma in podobno. Podpirajo tudi nekatere osnovne bitne operacije .</description>
		<description xml:lang="sr">Неколико основних алата за просте бројеве, π, φ, σ. Такође садржи неке једноставне операције на нивоу бита.</description>
		<description xml:lang="sr@latin">Nekoliko osnovnih alata za proste brojeve, π, φ, σ. Takođe sadrži neke jednostavne operacije na nivou bita.</description>
		<description xml:lang="sv">Flera grundläggande verktyg för primtal, pi, phi och sigma. Det innehåller även en del enkla bitoperationer</description>
		<description xml:lang="vi">Một vài tiện ích cơ bản cho số nguyên tố, π, φ, Σ. Ngoài ra còn có các thao tác cách một ví trị bit đơn giản.</description>
		<description xml:lang="zh_HK">處理質數、圓周率、ϕ 和 Σ 基本工具，還可以進行一些簡易的按位元運算。</description>
		<description xml:lang="zh_TW">處理質數、圓周率、ϕ 和 Σ 基本工具，還可以進行一些簡易的按位元運算。</description>
	</information>
	<loader type="Gnumeric_Builtin:module">
		<attribute value="plugin" name="module_file"/>
	</loader>
	<services>
		<service type="function_group" id="num_theory">
			<category>Number Theory</category>
			<category xml:lang="ast">Teoría de númberos</category>
			<category xml:lang="bg">Теория на числата</category>
			<category xml:lang="ca">Teoria de nombres</category>
			<category xml:lang="ca@valencia">Teoria de nombres</category>
			<category xml:lang="cs">Teorie čísel</category>
			<category xml:lang="da">Talteori</category>
			<category xml:lang="de">Zahlentheorie</category>
			<category xml:lang="dz">ཨང་གི་རྣམ་བཞག་</category>
			<category xml:lang="el">Θεωρία αριθμών</category>
			<category xml:lang="en_CA">Number Theory</category>
			<category xml:lang="en_GB">Number Theory</category>
			<category xml:lang="es">Teoría de números</category>
			<category xml:lang="et">Arvuteooria</category>
			<category xml:lang="eu">Zenbakien teoria</category>
			<category xml:lang="fi">Lukuteoria</category>
			<category xml:lang="fr">Théorie des nombres</category>
			<category xml:lang="ga">Uimhirtheoiric</category>
			<category xml:lang="gl">Teoría de números</category>
			<category xml:lang="hr">Teorija brojeva</category>
			<category xml:lang="hu">Számelmélet</category>
			<category xml:lang="id">Teori Angka</category>
			<category xml:lang="it">Teoria dei numeri</category>
			<category xml:lang="ja">数論</category>
			<category xml:lang="ko">수학론</category>
			<category xml:lang="lt">Skaičių teorija</category>
			<category xml:lang="lv">Skaitļu teorija</category>
			<category xml:lang="mk">Теорија на броеви</category>
			<category xml:lang="ml">സംഖ്യാ സിദ്ധാന്തം</category>
			<category xml:lang="nb">Tallteori</category>
			<category xml:lang="ne">सङ्ख्या सिद्धान्त</category>
			<category xml:lang="nl">Getaltheorie</category>
			<category xml:lang="nn">Nummer teori</category>
			<category xml:lang="pl">Teoria liczb</category>
			<category xml:lang="pt">Teoria Numérica</category>
			<category xml:lang="pt_BR">Teoria dos números</category>
			<category xml:lang="ro">Teorie numerică</category>
			<category xml:lang="ru">Теория чисел</category>
			<category xml:lang="sk">Teória čísel</category>
			<category xml:lang="sl">Teorija števil</category>
			<category xml:lang="sr">Теорија бројева</category>
			<category xml:lang="sr@latin">Teorija brojeva</category>
			<category xml:lang="sv">Talteori</category>
			<category xml:lang="tr">Sayı Teorisi</category>
			<category xml:lang="uk">Теорія чисел</category>
			<category xml:lang="vi">Lý thuyết số</category>
			<category xml:lang="zh_CN">数论</category>
			<category xml:lang="zh_HK">數論</category>
			<category xml:lang="zh_TW">數論</category>
			<functions textdomain="gnumeric-functions">
				<function name="isprime"/>
				<function name="ithprime"/>
				<function name="nt_d"/>
				<function name="nt_mu"/>
				<function name="nt_omega"/>
				<function name="nt_phi"/>
				<function name="nt_pi"/>
				<function name="nt_sigma"/>
				<function name="pfactor"/>
			</functions>
		</service>
		<service type="function_group" id="bitwise">
			<category>Bitwise Operations</category>
			<category xml:lang="ast">Operaciones de bits</category>
			<category xml:lang="bg">Битови операции</category>
			<category xml:lang="ca">Operacions bit a bit</category>
			<category xml:lang="ca@valencia">Operacions bit a bit</category>
			<category xml:lang="cs">Bitové operace</category>
			<category xml:lang="da">Bitoperationer</category>
			<category xml:lang="de">Bitweise Operationen</category>
			<category xml:lang="dz">བིཊི་དང་འཁྲིལ་བའི་བཀོལ་སྤྱོད་ཚུ་</category>
			<category xml:lang="el">Λογικές πράξεις</category>
			<category xml:lang="en_CA">Bitwise Operations</category>
			<category xml:lang="en_GB">Bitwise Operations</category>
			<category xml:lang="es">Operaciones bit a bit</category>
			<category xml:lang="et">Tehted bittidega</category>
			<category xml:lang="eu">Bit mailako eragiketak</category>
			<category xml:lang="fi">Bittioperaatiot</category>
			<category xml:lang="fr">Opérations bit à bit</category>
			<category xml:lang="gl">Operacións de bits</category>
			<category xml:lang="hr">Operacija nat bitovima</category>
			<category xml:lang="hu">Bitenkénti műveletek</category>
			<category xml:lang="id">Operasi Bitwise</category>
			<category xml:lang="it">Operazioni bit a bit</category>
			<category xml:lang="ja">ビット演算</category>
			<category xml:lang="ko">비트 연산자</category>
			<category xml:lang="lt">Binarinės operacijos</category>
			<category xml:lang="lv">Bitu operācijas</category>
			<category xml:lang="nb">Bitvise operasjoner</category>
			<category xml:lang="ne">बिटवाइज सञ्चालन</category>
			<category xml:lang="nl">Bewerken van Bits</category>
			<category xml:lang="nn">Bitvise operasjonar</category>
			<category xml:lang="pl">Operacje bitowe</category>
			<category xml:lang="pt">Operações Bitwise</category>
			<category xml:lang="pt_BR">Operações bit-a-bit</category>
			<category xml:lang="ro">Operaţii pe biţi</category>
			<category xml:lang="ru">Операции с битами</category>
			<category xml:lang="sk">Bitové operácie</category>
			<category xml:lang="sl">Bitne operacije</category>
			<category xml:lang="sr">Операције на нивоу бита</category>
			<category xml:lang="sr@latin">Operacije na nivou bita</category>
			<category xml:lang="sv">Bitoperationer</category>
			<category xml:lang="tr">Bitler arası İşlemler</category>
			<category xml:lang="uk">Двійкові операції</category>
			<category xml:lang="vi">Thao tác cách một ví trị bit</category>
			<category xml:lang="zh_CN">位运算</category>
			<category xml:lang="zh_HK">Bitwise Operations 按位元運算</category>
			<category xml:lang="zh_TW">Bitwise Operations 按位元運算</category>
			<functions textdomain="gnumeric-functions">
				<function name="bitand"/>
				<function name="bitlshift"/>
				<function name="bitor"/>
				<function name="bitrshift"/>
				<function name="bitxor"/>
			</functions>
		</service>
	</services>
</plugin>