<?xml version="1.0" encoding="UTF-8"?>
<plugin id="Gnumeric_fnrandom">
	<information>
		<name>Random Number Functions</name>
		<name xml:lang="ast">Funciones de númberos al debalu</name>
		<name xml:lang="bg">Функции за случайни числа</name>
		<name xml:lang="ca">Funcions de nombres aleatoris</name>
		<name xml:lang="ca@valencia">Funcions de nombres aleatoris</name>
		<name xml:lang="cs">Generátory náhodných čísel</name>
		<name xml:lang="da">Funktioner til generering af tilfældige tal</name>
		<name xml:lang="de">Zufallszahlen-Funktionen</name>
		<name xml:lang="dz">གང་འབྱུང་ཨང་གི་ལས་འགན་ཚུ་</name>
		<name xml:lang="el">Συναρτήσεις τυχαίων αριθμών</name>
		<name xml:lang="en_CA">Random Number Functions</name>
		<name xml:lang="en_GB">Random Number Functions</name>
		<name xml:lang="eo">Funkcioj de hazardaj numeroj</name>
		<name xml:lang="es">Funciones de números aleatorios</name>
		<name xml:lang="et">Juhuarvude genereerimisfunktsioonid</name>
		<name xml:lang="eu">Ausazko zenbakien funtzioak</name>
		<name xml:lang="fi">Satunnaislukufunktiot</name>
		<name xml:lang="fr">Génération de nombres aléatoires</name>
		<name xml:lang="gl">Funcións de números aleatorios</name>
		<name xml:lang="he">פונקציות מספרים אקראיים</name>
		<name xml:lang="hr">Funkcije slučajnih brojeva</name>
		<name xml:lang="hu">Véletlenszám-függvények</name>
		<name xml:lang="id">Fungsi-fungsi Angka Acak</name>
		<name xml:lang="it">Funzioni per numeri casuali</name>
		<name xml:lang="ja">乱数生成関数群</name>
		<name xml:lang="ko">무작위 숫자 함수</name>
		<name xml:lang="lt">Atsitiktinių skaičių funkcijos</name>
		<name xml:lang="lv">Nejaušo skaitļu funkcijas</name>
		<name xml:lang="mk">Функции на произволни броеви</name>
		<name xml:lang="nb">Funksjoner for tilfeldige tall</name>
		<name xml:lang="ne">अनियमित सङ्ख्या प्रकार्यहरू</name>
		<name xml:lang="nl">Functies voor willekeurige getallen</name>
		<name xml:lang="nn">Funksjonar for tilfeldige tal</name>
		<name xml:lang="pl">Funkcje do generacji liczb losowych</name>
		<name xml:lang="pt">Funções de Números Aleatórios</name>
		<name xml:lang="pt_BR">Funções de números aleatórios</name>
		<name xml:lang="ru">Функции генерации случайных чисел</name>
		<name xml:lang="sk">Funkcie náhodných čísel</name>
		<name xml:lang="sl">Funkcije naključnih števil</name>
		<name xml:lang="sr">Функције за случајне бројеве</name>
		<name xml:lang="sr@latin">Funkcije za slučajne brojeve</name>
		<name xml:lang="sv">Slumptalsfunktioner</name>
		<name xml:lang="tr">Rasgele Sayı İşlevleri</name>
		<name xml:lang="vi">Hàm số ngẫu nhiên</name>
		<name xml:lang="zh_CN">随机数函数</name>
		<name xml:lang="zh_HK">隨機數函數</name>
		<name xml:lang="zh_TW">隨機數函式</name>
		<description>Functions for generating random numbers</description>
		<description xml:lang="ast">Funciones pa xenerar númberos al debalu</description>
		<description xml:lang="bg">Функции за генериране на случайни числа</description>
		<description xml:lang="ca">Funcions per a generar nombres aleatoris</description>
		<description xml:lang="ca@valencia">Funcions per a generar nombres aleatoris</description>
		<description xml:lang="cs">Funkce pro generování náhodných čísel</description>
		<description xml:lang="da">Funktioner til generering af tilfældige tal</description>
		<description xml:lang="de">Funktionen zum Erzeugen von Zufallszahlen</description>
		<description xml:lang="dz">གང་འབྱུང་ཨི་ཚུ་བཟོ་བཏོན་འབད་ནིའི་ལས་འགན་ཚུ་</description>
		<description xml:lang="el">Συναρτήσεις για δημιουργία τυχαίων αριθμών</description>
		<description xml:lang="en_CA">Functions for generating random numbers</description>
		<description xml:lang="en_GB">Functions for generating random numbers</description>
		<description xml:lang="eo">Funkcioj por generi hazardajn numerojn</description>
		<description xml:lang="es">Funciones para generar números aleatorios</description>
		<description xml:lang="et">Funktsioonid juhuarvude genereerimiseks</description>
		<description xml:lang="eu">Ausazko zenbakiak sortzeko funtzioak</description>
		<description xml:lang="fi">Funktiot satunnaislukujen muodostamiseen</description>
		<description xml:lang="fr">Fonctions de génération de nombres aléatoires</description>
		<description xml:lang="gl">Funcións para xerar números aleatorios</description>
		<description xml:lang="he">פונקציות ליצירת מספרים אקראיים</description>
		<description xml:lang="hr">Funkcije za generiranje slučajnih brojeva</description>
		<description xml:lang="hu">Függvények véletlenszámok előállításához</description>
		<description xml:lang="id">Fungsi-fungsi untuk membuat angka acak</description>
		<description xml:lang="it">Funzioni per la generazione di numeri casuali</description>
		<description xml:lang="ja">乱数を生成するための関数群</description>
		<description xml:lang="ko">무작위 숫자를 만들어 주는 함수</description>
		<description xml:lang="lt">Funkcijos, generuojančios atsitiktinius skaičius</description>
		<description xml:lang="lv">Funkcijas nejaušu skaitļu ģenerēšanai</description>
		<description xml:lang="mk">Функции за генерирање на произволни броеви</description>
		<description xml:lang="ms">Fungsi untuk menjana nombor rawak</description>
		<description xml:lang="nb">Funksjoner for generering av tilfeldige tall</description>
		<description xml:lang="ne">अनियमित सङ्ख्याहरू उत्पादन गर्नका लागि प्रकार्यहरू</description>
		<description xml:lang="nl">Functies voor het genereren van willekeurige getallen</description>
		<description xml:lang="pl">Funkcje do generacji liczb losowych</description>
		<description xml:lang="pt">Funções para gerar números aleatórios</description>
		<description xml:lang="pt_BR">Funções para a geração de números aleatórios</description>
		<description xml:lang="ru">Функции для генерации случайных чисел</description>
		<description xml:lang="sk">Funkcie pre generovanie náhodných čísel</description>
		<description xml:lang="sl">Funkcije za ustvarjanje naključnih števil</description>
		<description xml:lang="sr">Функције за стварање случајних бројева</description>
		<description xml:lang="sr@latin">Funkcije za stvaranje slučajnih brojeva</description>
		<description xml:lang="sv">Funktioner för generering av slumptal</description>
		<description xml:lang="tr">Rasgele sayı üretmek için işlevler</description>
		<description xml:lang="vi">Hàm phát sinh số ngẫu nhiên</description>
		<description xml:lang="zh_CN">生成随机数的函数</description>
		<description xml:lang="zh_HK">用來產生隨機數的函數</description>
		<description xml:lang="zh_TW">用來產生隨機數的函式</description>
	</information>
	<loader type="Gnumeric_Builtin:module">
		<attribute value="plugin" name="module_file"/>
	</loader>
	<services>
		<service type="function_group" id="random">
			<category>Random Numbers</category>
			<category xml:lang="ast">Xeneración de númberos al debalu</category>
			<category xml:lang="bg">Случайни числа</category>
			<category xml:lang="ca">Nombres aleatoris</category>
			<category xml:lang="ca@valencia">Nombres aleatoris</category>
			<category xml:lang="cs">Náhodná čísla</category>
			<category xml:lang="da">Tilfældige tal</category>
			<category xml:lang="de">Zufallszahlen</category>
			<category xml:lang="dz">གང་འབྱུང་ཨང་ཚུ་</category>
			<category xml:lang="el">Τυχαίοι αριθμοί</category>
			<category xml:lang="en_CA">Random Numbers</category>
			<category xml:lang="en_GB">Random Numbers</category>
			<category xml:lang="eo">Hazardaj numeroj</category>
			<category xml:lang="es">Números aleatorios</category>
			<category xml:lang="et">Juhuarvud</category>
			<category xml:lang="eu">Ausazko zenbakiak</category>
			<category xml:lang="fi">Satunnaisluvut</category>
			<category xml:lang="fr">Nombres aléatoires</category>
			<category xml:lang="gl">Números aleatorios</category>
			<category xml:lang="he">מספרים אקראיים</category>
			<category xml:lang="hr">Slučajni brojevi</category>
			<category xml:lang="hu">Véletlenszámok</category>
			<category xml:lang="id">Angka Acak</category>
			<category xml:lang="it">Numeri casuali</category>
			<category xml:lang="ja">乱数</category>
			<category xml:lang="ko">무작위 숫자</category>
			<category xml:lang="lt">Atsitiktiniai skaičiai</category>
			<category xml:lang="lv">Nejauši skaitļi</category>
			<category xml:lang="mk">Произволни броеви</category>
			<category xml:lang="ml">ക്രമമില്ലാത്ത സംഖ്യകള്</category>
			<category xml:lang="ms">Nombor Rawak</category>
			<category xml:lang="nb">Tilfeldige tall</category>
			<category xml:lang="ne">अनियमित सङ्ख्याहरू</category>
			<category xml:lang="nl">Willekeurige getallen</category>
			<category xml:lang="nn">Tilfeldige tal</category>
			<category xml:lang="pl">Liczby losowe</category>
			<category xml:lang="pt">Números Aleatórios</category>
			<category xml:lang="pt_BR">Números aleatórios</category>
			<category xml:lang="ro">Numere aleatoare</category>
			<category xml:lang="ru">Случайные числа</category>
			<category xml:lang="sk">Náhodné čísla</category>
			<category xml:lang="sl">Naključna števila</category>
			<category xml:lang="sr">Случајни бројеви</category>
			<category xml:lang="sr@latin">Slučajni brojevi</category>
			<category xml:lang="sv">Slumptal</category>
			<category xml:lang="te">విభిన్న సంఖ్యలు</category>
			<category xml:lang="tr">Rasgele Sayılar</category>
			<category xml:lang="vi">Số ngẫu nhiên</category>
			<category xml:lang="zh_CN">随机数</category>
			<category xml:lang="zh_HK">隨機數</category>
			<category xml:lang="zh_TW">隨機數</category>
			<functions textdomain="gnumeric-functions">
				<function name="rand"/>
				<function name="randbernoulli"/>
				<function name="randbeta"/>
				<function name="randbetween"/>
				<function name="randbinom"/>
				<function name="randcauchy"/>
				<function name="randchisq"/>
				<function name="randdiscrete"/>
				<function name="randexp"/>
				<function name="randexppow"/>
				<function name="randfdist"/>
				<function name="randgamma"/>
				<function name="randnorm"/>
				<function name="randnormtail"/>
				<function name="randgeom"/>
				<function name="randgumbel"/>
				<function name="randhyperg"/>
				<function name="randlandau"/>
				<function name="randlaplace"/>
				<function name="randlevy"/>
				<function name="randlog"/>
				<function name="randlogistic"/>
				<function name="randlognorm"/>
				<function name="randnegbinom"/>
				<function name="randpareto"/>
				<function name="randpoisson"/>
				<function name="randrayleigh"/>
				<function name="randrayleightail"/>
				<function name="randsnorm"/>
				<function name="randstdist"/>
				<function name="randtdist"/>
				<function name="randuniform"/>
				<function name="randweibull"/>
				<function name="simtable"/>
			</functions>
		</service>
	</services>
</plugin>